@charset "utf-8";
/* Sohu SNS Theme Style
 * Name: Night
 * Created: 2009-01-08
 * Author: Matt Wang (www.uiland.com)
 * Copyright: Sohu.com (www.sohu.com)
 */

body,
* html #scrollWrap{background:url(i/page-xy.jpg) repeat;}

#navbar{background:url(i/navbar-x.png) repeat-x;_background-image:url(i/navbar-x.gif);}
	#navbarMid{background:url(i/navbar-fixed.png) no-repeat;_background:url(i/navbar-fixed.gif) 16px 0 no-repeat;}
		#navbarInt{}
			#navbarLogo{}
			#navbarMain{}
				#navbarMain a,
				#navbarMain a:hover{color:#fff;}
				#navbarMain ul{}
					#navbarMain li a:hover span{background-image:url(i/navbar-icon.png);_background-image:none;}
					#navbarMain li.flyout a span,
					#navbarMain li.on a span{background-image:url(i/navbar-icon.png);_background-image:url(i/navbar-icon.gif) !important;}
					#navbarMain li#navbar-home a span{background-position:0 0;}
					#navbarMain li#navbar-profile a span{background-position:0 -50px;}
					#navbarMain li#navbar-friend a span{background-position:0 -100px;}
					#navbarMain li#navbar-inbox a span{background-position:0 -150px;}
					#navbarMain li#navbar-msg a span{background-position:0 -200px;}
			#navbarExtra{}
				#navbarExtra a,
				#navbarExtra a:hover{color:#DD9A63;}
				#navbarExtra li{background:url(i/navbar-pipe.gif) no-repeat 100% 50%;}

#page{}

	#pageBd{background:url(i/pageBd-xy.jpg) repeat;}

		#canvas-app{background:#f7f5e6 url(i/canvas-xy.jpg) repeat;}
			#canvas-appInt{background:url(i/canvas-x.jpg) repeat-x;}
