<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sca="http://www.springframework.org/schema/sca"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/sca http://www.springframework.org/schema/sca/spring-sca.xsd">


	<!-- Activates mapping of @Controller -->



	<!-- hotFacet fitler -->
	<bean id="pushClient"
		class="com.gemantic.commons.push.client.impl.HttpPushClientImpl">
		<property name="serverUri" value="42.121.113.70"></property>
		<property name="path" value="/batchChannel"></property>
		<property name="port" value="8000"></property>
	</bean>

	<bean id="openIdManager" class="org.expressme.openid.OpenIdManager">
		<property name="realm" value="http://manager.gemantic.com:9090"></property>
	</bean>


	<bean id="urlMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="url"
					value="http://manager.gemantic.com:9090/openid/auth.do?url=" />
			</map>
		</constructor-arg>
	</bean>



	<bean id="version_path" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!-- <entry key="simple_1.0" value="killer/simple/simple_model.drl" /> 
					<entry key="color_game_1.0" value="simple_room.drl" /> <entry key="room_1.0" 
					value="simple_rule.drl" /> -->
			</map>
		</constructor-arg>
	</bean>


	<bean id="roomAction" class="java.util.HashSet">
		<constructor-arg>
			<set>
				<value>create</value>
				<value>login</value>
				<value>logout</value>
				<value>ready</value>
				<value>say</value>
				<value>kick</value>
				<value>query</value>
			</set>
		</constructor-arg>
	</bean>



	<bean id="roomRulePaths" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>common/model/room_model.drl</value>
				<value>common/query/room_query.drl</value>
				<value>common/util/room_util.drl</value>
				<value>common/rule/room_rule.drl</value>
				<value>common/workflow/room_workflow.rf</value>
			</list>
		</constructor-arg>
	</bean>



	<bean id="version_path_simple" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="simple_1.0">
					<list>
						<value>killer/simple2/simple_model.drl</value>
						<value>killer/simple2/simple_query.drl</value>
						<value>killer/simple2/simple_util.drl</value>
						<value>killer/simple2/simple_game.drl</value>
						<value>killer/simple2/simple_game.rf</value>
					</list>
				</entry>
				<entry key="killer_police_1.0">
					<list>
						<value>killer/police/police_model.drl</value>
						<value>killer/police/police_query.drl</value>
						<value>killer/police/police_util.drl</value>
						<value>killer/police/police_game.drl</value>
						<value>killer/police/police_game.rf</value>
					</list>
				</entry>
				<entry key="killer_police_secret_1.0">
					<list>
						<value>killer/police/police_model.drl</value>
						<value>killer/police/police_query.drl</value>
						<value>killer/police/police_util.drl</value>
						<value>killer/police/police_game.drl</value>
						<value>killer/police/police_game.rf</value>
					</list>
				</entry>

				<entry key="mine_1.0">
					<list>
						<value>mine/multiplayer/mine_model.drl</value>
						<value>mine/multiplayer/mine_query.drl</value>
						<value>mine/multiplayer/mine_util.drl</value>
						<value>mine/multiplayer/mine_game.drl</value>
						<value>mine/multiplayer/mine_game.rf</value>
					</list>
				</entry>
				<entry key="video_1.0">
					<list>
					</list>
				</entry>

				<entry key="ghost_simple_1.0">
					<list>
						<value>ghost/simple/simple_model.drl</value>
						<value>ghost/simple/simple_query.drl</value>
						<value>ghost/simple/simple_util.drl</value>
						<value>ghost/simple/simple_game.drl</value>
						<value>ghost/simple/simple_game.rf</value>
					</list>
				</entry>

				<entry key="ghost_question_1.0">
					<list>
						<value>ghost/question/question_model.drl</value>
						<value>ghost/question/question_query.drl</value>
						<value>ghost/question/question_util.drl</value>
						<value>ghost/question/question_game.drl</value>
						<value>ghost/question/question_game.rf</value>
					</list>
				</entry>

				<entry key="ghost_soul_1.0">
					<list>
						<value>ghost/soul/soul_model.drl</value>
						<value>ghost/soul/soul_query.drl</value>
						<value>ghost/soul/soul_util.drl</value>
						<value>ghost/soul/soul_game.drl</value>
						<value>ghost/soul/soul_game.rf</value>
					</list>
				</entry>

				<entry key="rest_1.0">
					<list>

					</list>
				</entry>

			</map>
		</constructor-arg>
	</bean>



	<bean id="cookieUtil" class="com.gemantic.common.util.http.cookie.CookieUtil">
		<property name="home" value="ppteng.com"></property>
		<property name="domain" value="http://www.ppteng.com:9090"></property>
	</bean>





	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host">
			<value>smtp.163.com</value>
		</property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
		<property name="username">
			<value>pttgame@163.com</value>
		</property>
		<property name="password">
			<value>xdylxdyl</value>
		</property>
	</bean>








	<bean id="dao" class="com.gemantic.dal.dao.impl.CompositeDaoImpl" />









</beans>
