<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sca="http://www.springframework.org/schema/sca"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<bean id="jspVersionSetting" class="java.util.HashMap">
		<constructor-arg>
			<map>				
				<entry key="wolf_burg_1.0" value="3">
				</entry>
					<entry key="ghost_question_2.0" value="3">
				</entry>
			</map>
		</constructor-arg>
	</bean>


	<bean id="setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="simple_1.0" value-ref="simple_1.0_setting">
				</entry>
				<entry key="mine_1.0" value-ref="mine_1.0_setting">
				</entry>
				<entry key="video_1.0" value-ref="video_1.0_setting">
				</entry>
				<entry key="killer_police_1.0" value-ref="killer_police_1.0_setting">
				</entry>
				<entry key="killer_police_secret_1.0" value-ref="killer_police_secret_1.0_setting">
				</entry>
				<entry key="ghost_simple_1.0" value-ref="ghost_simple_1.0_setting">
				</entry>
				<entry key="ghost_question_1.0" value-ref="ghost_question_1.0_setting">
				</entry>
				<entry key="ghost_question_2.0" value-ref="ghost_question_2.0_setting">
				</entry>
				<entry key="ghost_soul_1.0" value-ref="ghost_soul_1.0_setting">
				</entry>
				<entry key="rest_1.0" value-ref="rest_1.0_setting">
				</entry>
				<entry key="labs_diy_1.0" value-ref="labs_diy_1.0_setting">
				</entry>
				<entry key="wolf_burg_1.0" value-ref="wolf_burg_1.0_setting">
				</entry>





			</map>
		</constructor-arg>
	</bean>


	<bean id="simple_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="killerCount" value="0">
				</entry>
				<entry key="dayTime" value="240000">
				</entry>
				<entry key="nightTime" value="60000">
				</entry>
				<entry key="lastwordTime" value="60000">
				</entry>
				<entry key="autoSetting" value="true">
				</entry>
			</map>
		</constructor-arg>
	</bean>



	<bean id="video_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="视频地址" value="">
				</entry>

			</map>
		</constructor-arg>
	</bean>

	<bean id="mine_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="rowCount" value="9">
				</entry>
				<entry key="columnCount" value="9">
				</entry>
				<entry key="mineCount" value="10">
				</entry>
				<entry key="mineContent" value="">
				</entry>

				<entry key="systemContent" value="">
				</entry>

				<entry key="mineLevel" value="level0">
				</entry>

			</map>
		</constructor-arg>
	</bean>

	<bean id="killer_police_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="killerCount" value="1">
				</entry>
				<entry key="policeCount" value="1">
				</entry>
				<entry key="dayTime" value="180000">
				</entry>
				<entry key="nightTime" value="120000">
				</entry>
				<entry key="lastwordTime" value="60000">
				</entry>
				<entry key="autoSetting" value="true">
				</entry>
			</map>
		</constructor-arg>
	</bean>


	<bean id="killer_police_secret_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="killerCount" value="1">
				</entry>
				<entry key="policeCount" value="1">
				</entry>
				<entry key="dayTime" value="180000">
				</entry>
				<entry key="nightTime" value="120000">
				</entry>
				<entry key="lastwordTime" value="60000">
				</entry>
				<entry key="autoSetting" value="true">
				</entry>
			</map>
		</constructor-arg>
	</bean>




	<bean id="rest_1.0_setting" class="java.util.HashMap">

	</bean>

	<bean id="labs_diy_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="dayTime" value="3000000">
				</entry>

			</map>
		</constructor-arg>


	</bean>




	<bean id="ghost_simple_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="ghostCount" value="1">
				</entry>
				<entry key="dayTime" value="300000">
				</entry>
				<entry key="topicTime" value="120000">
				</entry>
				<entry key="autoSetting" value="true">
				</entry>
			</map>
		</constructor-arg>
	</bean>


	<bean id="ghost_question_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="ghostCount" value="1">
				</entry>
				<entry key="dayTime" value="300000">
				</entry>
				<entry key="topicTime" value="120000">
				</entry>
				<entry key="questionTime" value="180000">
				</entry>
				<entry key="autoSetting" value="true">
				</entry>
			</map>
		</constructor-arg>
	</bean>

	<bean id="ghost_question_2.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="ghostCount" value="1">
				</entry>
				<entry key="dayTime" value="300000">
				</entry>
				<entry key="topicTime" value="120000">
				</entry>
				<entry key="questionTime" value="180000">
				</entry>
				<entry key="descriptionTime" value="180000">
				</entry>

				<entry key="autoSetting" value="true">
				</entry>
			</map>
		</constructor-arg>
	</bean>


	<bean id="ghost_soul_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="ghostCount" value="1">
				</entry>
				<entry key="dayTime" value="300000">
				</entry>
				<entry key="topicTime" value="120000">
				</entry>
				<entry key="questionTime" value="120000">
				</entry>
				<entry key="autoSetting" value="true">
				</entry>

			</map>
		</constructor-arg>
	</bean>

	<bean id="wolf_burg_1.0_setting" class="java.util.HashMap">
		<constructor-arg>
			<map>

				<entry key="dispatchTime" value="300000">
				</entry>
				<entry key="dismissalTime" value="120000">
				</entry>
				<entry key="actionTime" value="60000">
				</entry>
				<entry key="playerCount" value="3">
				</entry>
				
				<entry key="autoSetting" value="true">
				</entry>

			</map>
		</constructor-arg>
	</bean>

	<bean id="settingDisplay" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!-- simple-version -->
				<entry key="playerCount" value="玩家人数">
				</entry>
				<entry key="killerCount" value="杀手人数">
				</entry>			
				<entry key="waterCount" value="水民人数">
				</entry>		
				<entry key="policeCount" value="警察人数">
				</entry>
				<entry key="dayTime" value="白天时间">
				</entry>
				<entry key="nightTime" value="晚上时间">
				</entry>
				<entry key="lastwordTime" value="遗言时间">
				</entry>
				<entry key="rowCount" value="行数">
				</entry>
				<entry key="columnCount" value="列数">
				</entry>
				<entry key="mineCount" value="雷数">
				</entry>
				<entry key="mineContent" value="用户雷图">
				</entry>
				<entry key="systemContent" value="系统雷图">
				</entry>

				<entry key="mineLevel" value="级别">
				</entry>
				<entry key="ghostCount" value="幽灵数">
				</entry>
				<entry key="topicTime" value="出题时间">
				</entry>
				<entry key="questionTime" value="提问时间">
				</entry>
				<entry key="descriptionTime" value="描述时间">
				</entry>

				<entry key="dispatchTime" value="指派时间">
				</entry>
				<entry key="dismissalTime" value="罢免时间">
				</entry>
				<entry key="actionTime" value="行动时间">
				</entry>
				


				<entry key="autoSetting" value="自动设置">
				</entry>


			</map>
		</constructor-arg>
	</bean>


</beans>
