@charset "utf-8";
/* Sohu SNS base.css
 * Version: 1.0
 * Created: 2008-11-01
 * Update: 2008-11-25
 * Author: Matt Wang (www.uiland.com)
 * Copyright: Sohu.com (www.sohu.com)
 */


/*** HTML Elements ***/

/* HTML Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
img,fieldset,abbr,acronym{border:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:700;}
input,button,textarea,select{font-size:inherit;*font-size:100%;font-family:inherit;}
address,cite,dfn,em,code,var,caption,th{font-style:normal;font-weight:normal;}
q:before,q:after{content:'';}

/* canvas HTML reset */
.canvas h1,
.canvas h2,
.canvas h3{margin:1em 0;}
.canvas h1{font-size:16px;}
.canvas h2{font-size:14px;}
.canvas h3{font-size:12px;}
.canvas abbr,
.canvas acronym{border-bottom:1px dotted #000;_border:0;cursor:help;} 
.canvas em{font-style:italic;}
.canvas ul,
.canvas ol{margin:.5em 0 .5em 2.5em;}
.canvas ul{list-style:disc outside;}
.canvas ol{list-style:decimal outside;}
.canvas dd{margin-left:1em;}
.canvas blockquote{margin:.5em;}
.canvas p,
.canvas fieldset,
.canvas table{margin-bottom:.5em;}
.canvas caption{margin-bottom:.5em;text-align:center;}
.canvas th,
.canvas td{border:1px solid #666;padding:.2em .4em;}
.canvas th{font-weight:bold;text-align:center;}

/* HTML Style */
body{background:#fff;color:#333;font:12px/20px Arial,Helvetica,sans-serif,'宋体';}
hr{clear:both;height:1px;margin:7px 0;*margin:0;padding:0;border:0;border-bottom:1px dotted #cbc3b3;line-height:1px;}

/* Link */
a{outline:none;color:#930;text-decoration:none;}
a:hover{text-decoration:underline;}

/* Form */
fieldset legend{font-weight:700;}
input,
button,
select{vertical-align:middle;}
input,
button,
textarea,
select{color:#333;font-family:'lucida grande',Tahoma,Verdana,Arial,Helvetica,sans-serif;}
	/*input*/
input.blank,
input.password,
input.text{height:16px;padding:3px;border:1px solid #999;line-height:16px;}
input.blank{color:#ccc;}
textarea.text{padding:2px;border:1px solid #999;}
input.radio,
input.checkbox{margin-right:6px;*margin-right:3px;vertical-align:middle;_vertical-align:text-bottom;}
input.file{height:24px;}
input.popup{cursor:pointer;width:124px;height:18px;padding:2px 0 2px 5px;border:0;background:#eee url(i/input-popup.gif) no-repeat;}
	/*select*/
select.select{height:24px;padding:2px;border:1px solid #999;}
select.year,
select.month,
select.day,
select.province,
select.city,
select.county{width:80px;}
	/*button*/
span.button{display:-moz-inline-stack;display:inline-block;_display:inline;margin:0 2px;padding:0 10px 0 0;background:url(i/button.png) 100% 0 no-repeat;_background-image:url(i/button.gif);vertical-align:middle;zoom:1;}
	span.button span{display:block;background:url(i/button.png) 0 0 no-repeat;_background-image:url(i/button.gif);padding:0 0 0 10px;}
		span.button a,
		span.button button{display:block;overflow:visible;width:auto;_width:0;height:24px;margin:0 -10px;padding:0 10px;border:0 none;background:none;color:#333;line-height:24px;vertical-align:middle;white-space:nowrap;cursor:pointer;}
		span.button a,
		span.button a:hover{color:#333;text-decoration:none;}
span.button:hover{background-position:100% -50px;}
	span.button:hover span{background-position:0 -50px;}

span.button-main{background-position:100% -150px;}
	span.button-main span{background-position:0 -150px;}
		span.button-main a,
		span.button-main a:hover,
		span.button-main button{color:#fff9f2;}
span.button-main:hover{background-position:100% -200px;}
	span.button-main:hover span{background-position:0 -200px;}

span.button-disabled,
span.button-disabled:hover{background-position:100% -100px;cursor:default;}
	span.button-disabled span,
	span.button-disabled:hover span{background-position:0 -100px;}
		span.button-disabled a,
		span.button-disabled a:hover,
		span.button-disabled button{color:#8f8f8f;cursor:default;}

span.button-large{background:url(i/button-large.png) 100% 0 no-repeat;_background-image:url(i/button-large.gif);}
	span.button-large span{background:url(i/button-large.png) 0 0 no-repeat;_background-image:url(i/button-large.gif);}
		span.button-large a,
		span.button-large a:hover,
		span.button-large button{height:33px;color:#fff9f2;font:bold 14px/33px '宋体';}
span.button-large:hover{background-position:100% -50px;}
	span.button-large:hover span{background-position:0 -50px;}

span.button-large-disabled,
span.button-large-disabled:hover{background:url(i/button-large.png) 100% -100px no-repeat;_background-image:url(i/button-large.gif);cursor:default;}
	span.button-large-disabled span,
	span.button-large-disabled:hover span{background:url(i/button-large.png) 0 -100px no-repeat;_background-image:url(i/button-large.gif);}
		span.button-large-disabled a,
		span.button-large-disabled a:hover,
		span.button-large-disabled button{height:33px;color:#8f8f8f;font:bold 14px/33px '宋体';cursor:default;}

	/* forms */
.buttons .button{margin:3px;}
.radios,
.checkboxes{zoom:1;}
	.radios:after,
	.checkboxes:after{content:'\0020';display:block;clear:both;height:0;}
	.radios label,
	.checkboxes label{display:-moz-inline-stack;display:inline-block;*display:inline;padding:0 3px 0 0;cursor:pointer;zoom:1;}
	.radios input,
	.checkboxes input{margin-right:6px;*margin-right:3px;vertical-align:middle;_vertical-align:text-bottom;}
ul.radios,
ul.checkboxes{margin:0;list-style:none;}
	ul.radios li,
	ul.checkboxes li{_display:inline;overflow:hidden;float:left;width:64px;margin:2px 0;*text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}


/*** Global Classes ***/

/* display & position */
.hide{display:none;}
.left{float:left !important;}
.right{float:right !important;}
.on,
.on a,
a.on,
.current,
.current a,
a.current{cursor:default;}

/* font & color */
.hot,
.hot a,
a.hot{color:#f06 !important;}
.hot a:hover,
a:hover.hot{color:#36c !important;}
.meta{color:#999;font-weight:normal !important;}
.pipe{padding:0 5px;font-weight:normal !important;}
.more a,
a.more{text-decoration:none;}
.more a:hover,
a:hover.more{text-decoration:underline;}
div.more{clear:both;padding:5px 10px 0;text-align:right;font-family:SimSun,'宋体',sans-serif;}

/* lines */
.line-solid{border-bottom:1px solid #cbc3b3;}
.line-dashed{border-bottom:1px dashed #cbc3b3;}
.line-dotted{border-bottom:1px dotted #cbc3b3;_border:0;_background:url(i/line-ccc.gif) no-repeat -1000px 100%;}
hr.line-solid{border-bottom:1px solid #cbc3b3;}
hr.line-dashed{border-bottom:1px dashed #cbc3b3;}
hr.line-dotted{border-bottom:1px dotted #cbc3b3;}

/* icons */
.icon{width:16px;height:16px;_margin:2px 0;background:transparent url(i/icons/16.png);background-repeat:no-repeat;vertical-align:middle;_vertical-align:text-bottom;}
span.icon,
em.icon,
a.icon{display:-moz-inline-stack;display:inline-block;_display:inline;overflow:hidden;font:0/0 Arial;text-indent:-9999px;*text-indent:0;zoom:1;}
button .icon{_margin:1px 0;_vertical-align:middle;}

.i-edit{background-position:-25px 0;_background:url(i/icons/16/edit.gif) 0 0;}
	.i-edit:hover{background-position:-25px -25px;_background:url(i/icons/16/edit-hover.gif) 0 0;}
.i-del{background-position:-50px 0;_background:url(i/icons/16/del.gif) 0 0;}
	.i-del:hover{background-position:-50px -25px;_background:url(i/icons/16/del-hover.gif) 0 0;}
.i-ignore{background-position:-75px 0;_background:url(i/icons/16/ignore.gif) 0 0;}
	.i-ignore:hover{background-position:-75px -25px;_background:url(i/icons/16/ignore-hover.gif) 0 0;}
.i-add{background-position:-100px 0;_background:url(i/icons/16/add.gif) 0 0;}
	.i-add{background-position:-100px -25px;_background:url(i/icons/16/add-hover.gif) 0 0;}
.i-flag{background-position:-125px 0;_background:url(i/icons/16/flag.gif) 0 0;}
	.i-flag{background-position:-125px -25px;_background:url(i/icons/16/flag-hover.gif) 0 0;}
.i-clear{background-position:-150px 0;_background:url(i/icons/16/clear.gif) 0 0;}
	.i-clear{background-position:-150px -25px;_background:url(i/icons/16/clear-hover.gif) 0 0;}
.i-setting{background-position:-175px 0;_background:url(i/icons/16/setting.gif) 0 0;}
	.i-setting{background-position:-175px -25px;_background:url(i/icons/16/setting-hover.gif) 0 0;}
.i-starred{background-position:-200px 0;_background:url(i/icons/16/starred.gif) 0 0;}
	.i-clearStar{background-position:-200px -25px;_background:url(i/icons/16/star-clear.gif) 0 0;}
.i-chat{background-position:-225px 0;_background:url(i/icons/16/chat.gif) 0 0;}
.i-copy{background-position:-250px 0;_background:url(i/icons/16/copy.gif) 0 0;}

.i-close{background-position:0 -50px;_background:url(i/icons/16/close.gif) 0 0;}
	.i-close:hover{background-position:0 -75px;_background:url(i/icons/16/close-hover.gif) 0 0;}
.i-tg-expand{background-position:-50px -50px;_background:url(i/icons/16/tg-down.gif) no-repeat 0 0;}
.i-tg-collapse{background-position:-100px -50px;_background:url(i/icons/16/tg-right.gif) no-repeat 0 0;}
.i-tg-up{background-position:-25px -50px;_background:url(i/icons/16/tg-up.gif) no-repeat 0 0;}
.i-tg-down{background-position:-50px -50px;_background:url(i/icons/16/tg-down.gif) no-repeat 0 0;}
.i-tg-left{background-position:-75px -50px;_background:url(i/icons/16/tg-left.gif) no-repeat 0 0;}
.i-tg-right{background-position:-100px -50px;_background:url(i/icons/16/tg-right.gif) no-repeat 0 0;}
.i-toggle-up{background-position:-125px -50px;}
.i-toggle-down{background-position:-150px -50px;}
.i-toggle-left{background-position:-175px -50px;}
.i-toggle-right{background-position:-200px -50px;}

.i-info{background-position:0 -100px;_background:url(i/icons/16/info.gif) no-repeat 0 0;}
.i-succeed{background-position:-25px -100px;_background:url(i/icons/16/succeed.gif) no-repeat 0 0;}
.i-error{background-position:-50px -100px;_background:url(i/icons/16/error.gif) no-repeat 0 0;}

.i-quote-start{background-position:0 -150px;_background:url(i/icons/16/quote-start.gif) no-repeat 0 0;}
.i-quote-end{background-position:0 -175px;_background:url(i/icons/16/quote-end.gif) no-repeat 0 0;}

	/* base app */
.i-home{background-position:0 -250px;_background:url(i/icons/16/home.gif) 0 0;}
.i-status{background-position:-25px -250px;_background:url(i/icons/16/status.gif) 0 0;}
.i-profile{background-position:-50px -250px;_background:url(i/icons/16/editIcon.gif) 0 0;}
.i-friend{background-position:-100px -250px;_background:url(i/icons/16/friend.gif) 0 0;}
	.i-friendAdd{background-position:-100px -275px;_background:url(i/icons/16/friend-add.gif) 0 0;}
.i-inbox{background-position:-125px -250px;_background:url(i/icons/16/inbox.gif) 0 0;}
.i-notice,
.i-request{background-position:-150px -250px;}
.i-op{background-position:-200px -250px;_background:url(i/icons/16/op.gif) 0 0;}
.i-privacy{background-position:-225px -250px;_background:url(i/icons/16/private.gif) 0 0;}
	.i-private{background-position:-225px -250px;_background:url(i/icons/16/private.gif) 0 0;}
.i-comment{background-position:-250px -250px;_background:url(i/icons/16/comment.gif) 0 0;}
.i-share{background-position:-275px -250px;_background:url(i/icons/16/share.gif) 0 0;}

	/* sys app */
.i-diary{background-position:0 -375px;_background:url(i/icons/16/diary.gif) 0 0;}
.i-album{background-position:-50px -375px;_background:url(i/icons/16/album.gif) 0 0;}
.i-vote{background-position:-50px -375px;_background:url(i/icons/16/vote.gif) 0 0;}
.i-truth{background-position:-50px -375px;_background:url(i/icons/16/truth.gif) 0 0;}


/* emotions */
.emot{width:22px;height:22px;background:url(i/emots/base.gif) no-repeat 3px 3px;vertical-align:middle;cursor:pointer;}
span.emot,
a.emot{display:-moz-inline-stack;display:inline-block;_display:inline;overflow:hidden;font:0/0 Arial;text-indent:-9999px;*text-indent:0;zoom:1;}

.emotBox{padding:2px;}
	.emotBox .emots{}
	*+html .emotBox .emots{padding:0 0 2px;}
		.emots .emot{float:left;margin:2px;border:1px solid #d3d3d3;}
		.emots .emot:hover{border:1px solid #9b0020;}
	.emotBox .pager{margin:2px 0 0;padding:2px 0 0;border-top:1px solid #d3d3d3;}

.e-base-1{background-position:0 0;}
.e-base-2{background-position:-30px 0;}
.e-base-3{background-position:-60px 0;}
.e-base-4{background-position:-90px 0;}
.e-base-5{background-position:-120px 0;}
.e-base-6{background-position:-150px 0;}
.e-base-7{background-position:-180px 0;}
.e-base-8{background-position:-210px 0;}
.e-base-9{background-position:-240px 0;}
.e-base-10{background-position:-270px 0;}

.e-base-11{background-position:0 -30px;}
.e-base-12{background-position:-30px -30px;}
.e-base-13{background-position:-60px -30px;}
.e-base-14{background-position:-90px -30px;}
.e-base-15{background-position:-120px -30px;}
.e-base-16{background-position:-150px -30px;}
.e-base-17{background-position:-180px -30px;}
.e-base-18{background-position:-210px -30px;}
.e-base-19{background-position:-240px -30px;}
.e-base-20{background-position:-270px -30px;}

.e-base-21{background-position:0 -60px;}
.e-base-22{background-position:-30px -60px;}
.e-base-23{background-position:-60px -60px;}
.e-base-24{background-position:-90px -60px;}
.e-base-25{background-position:-120px -60px;}
.e-base-26{background-position:-150px -60px;}
.e-base-27{background-position:-180px -60px;}
.e-base-28{background-position:-210px -60px;}
.e-base-29{background-position:-240px -60px;}
.e-base-30{background-position:-270px -60px;}

.e-base-31{background-position:0 -90px;}
.e-base-32{background-position:-30px -90px;}
.e-base-33{background-position:-60px -90px;}
.e-base-34{background-position:-90px -90px;}
.e-base-35{background-position:-120px -90px;}
.e-base-36{background-position:-150px -90px;}
.e-base-37{background-position:-180px -90px;}
.e-base-38{background-position:-210px -90px;}
.e-base-39{background-position:-240px -90px;}
.e-base-40{background-position:-270px -90px;}

.e-base-41{background-position:0 -120px;}
.e-base-42{background-position:-30px -120px;}
.e-base-43{background-position:-60px -120px;}
.e-base-44{background-position:-90px -120px;}
.e-base-45{background-position:-120px -120px;}
.e-base-46{background-position:-150px -120px;}
.e-base-47{background-position:-180px -120px;}
.e-base-48{background-position:-210px -120px;}
.e-base-49{background-position:-240px -120px;}
.e-base-50{background-position:-270px -120px;}

.e-base-51{background-position:0 -150px;}
.e-base-52{background-position:-30px -150px;}
.e-base-53{background-position:-60px -150px;}
.e-base-54{background-position:-90px -150px;}
.e-base-55{background-position:-120px -150px;}
.e-base-56{background-position:-150px -150px;}
.e-base-57{background-position:-180px -150px;}
.e-base-58{background-position:-210px -150px;}
.e-base-59{background-position:-240px -150px;}
.e-base-60{background-position:-270px -150px;}

.e-base-61{background-position:0 -180px;}
.e-base-62{background-position:-30px -180px;}
.e-base-63{background-position:-60px -180px;}
.e-base-64{background-position:-90px -180px;}

/* clearboth & clearfix */
.clearboth{clear:both;}
.clearfix:after{content:'.';display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}

/* fix, a simple method of clearfix */
.fix:after{content:'\0020';display:block;clear:both;height:0;}
.fix{zoom:1;}

/* mask select */
.draging select,
.masking select,
.hide-select select{_visibility:hidden;}
iframe.maskIframe{display:none;_display:block;position:absolute;width:100%;height:100%;filter:mask();}


/*** Units' Classes ***/

/* Columns Layout */
.lay{/*fixed*/margin:0 -5px;}
	.lay .layInt,
	.lay .lay .layInt{/*fixed*/padding:0;}
	.lay .colMain,
	.lay .colExtra,
	.lay .colSub{_display:inline;_overflow-x:hidden;}	
	.lay .colInt{margin:0 5px;}	
	.lay .lay .colMain,
	.lay .lay .colExtra,
	.lay .lay .colSub{margin:0;}
	
	/* 100% */
	.lay-100{}
		.lay-100 .colMain,
		.lay-100 .colExtra,
		.lay-100 .colSub,
		.colInt .lay-100 .colMain,
		.colInt .lay-100 .colExtra,
		.colInt .lay-100 .colSub{width:100%;}

	/* m:50% | s:50% */
	.lay-m50p-s50p{}
		.lay-m50p-s50p .colMain,
		.colInt .lay-m50p-s50p .colMain{float:left;width:49.99%;}
		.lay-m50p-s50p .colSub,
		.colInt .lay-m50p-s50p .colSub{float:right;width:49.99%;}

	/* s:50% | m:50% */
	.lay-s50p-m50p{}
		.lay-s50p-m50p .colMain,
		.colInt .lay-s50p-m50p .colMain{float:right;width:49.99%;}
		.lay-s50p-m50p .colSub,
		.colInt .lay-s50p-m50p .colSub{float:left;width:49.99%;}

	/* m:66% | s:33% */
	.lay-m66p-s33p{}
		.lay-m66p-s33p .colMain,
		.colInt .lay-m66p-s33p .colMain{float:left;width:66.49%;}
		.lay-m66p-s33p .colSub,
		.colInt .lay-m66p-s33p .colSub{float:right;width:33.49%;}

	/* s:66% | m:33% */
	.lay-s66p-m33p{}
		.lay-s66p-m33p .colMain,
		.colInt .lay-s66p-m33p .colMain{float:right;width:33.49%;}
		.lay-s66p-m33p .colSub,
		.colInt .lay-s66p-m33p .colSub{float:left;width:66.49%;}

	/* m:33% | s:66% */
	.lay-m33p-s66p{}
		.lay-m33p-s66p .colMain,
		.colInt .lay-m33p-s66p .colMain{float:left;width:33.49%;}
		.lay-m33p-s66p .colSub,
		.colInt .lay-m33p-s66p .colSub{float:right;width:66.49%;}

	/* s:33% | m:66% */
	.lay-s33p-m66p{}
		.lay-s33p-m66p .colMain,
		.colInt .lay-s33p-m66p .colMain{float:right;width:66.49%;}
		.lay-s33p-m66p .colSub,
		.colInt .lay-s33p-m66p .colSub{float:left;width:33.49%;}

	/* m:200px | s:auto */
	.lay-m200-sAuto{}
		.lay-m200-sAuto .layInt,
		.layInt .lay-m200-sAuto .layInt{padding-left:200px;}
			.lay-m200-sAuto .colMain,
			.colInt .lay-m200-sAuto .colMain{float:left;width:200px;margin:0 0 0 -200px;}
			.lay-m200-sAuto .colSub,
			.colInt .lay-m200-sAuto .colSub{float:right;width:100%;}

	/* s:200px | m:auto */
	.lay-s200-mAuto{}
		.lay-s200-mAuto .layInt,
		.layInt .lay-s200-mAuto .layInt{padding-left:200px;}
			.lay-s200-mAuto .colMain,
			.colInt .lay-s200-mAuto .colMain{float:right;width:100%;}
			.lay-s200-mAuto .colSub,
			.colInt .lay-s200-mAuto .colSub{float:left;width:200px;margin:0 0 0 -200px;}

	/* m:auto | s:200px */
	.lay-mAuto-s200{}
		.lay-mAuto-s200 .layInt,
		.layInt .lay-mAuto-s200 .layInt{padding-right:200px;}
			.lay-mAuto-s200 .colMain,
			.colInt .lay-mAuto-s200 .colMain{float:left;width:100%;}
			.lay-mAuto-s200 .colSub,
			.colInt .lay-mAuto-s200 .colSub{float:right;width:200px;margin:0 -200px 0 0;}

	/* s:auto | m:200px */
	.lay-sAuto-m200{}
		.lay-sAuto-m200 .layInt,
		.layInt .lay-sAuto-m200 .layInt{padding-right:200px;}
			.lay-sAuto-m200 .colMain,
			.colInt .lay-sAuto-m200 .colMain{float:right;width:200px;margin:0 -200px 0 0;}
			.lay-sAuto-m200 .colSub,
			.colInt .lay-sAuto-m200 .colSub{float:left;width:100%;}

	/* s:25% | m:50% | e:25% */
	.lay-s25p-m50p-e25p{}
		.lay-s25p-m50p-e25p .colMain{float:left;width:49.99%;margin:0 0 0 25%;}
		.lay-s25p-m50p-e25p .colSub{float:left;width:25%;margin:0 0 0 -75%;}
		.lay-s25p-m50p-e25p .colExtra{float:right;width:24.99%;}

	/* e:25% | m:50% | s:25% */
	.lay-e25p-m50p-s25p{}
		.lay-e25p-m50p-s25p .colMain{float:left;width:49.99%;margin:0 0 0 25%;}
		.lay-e25p-m50p-s25p .colSub{float:right;width:24.99%;}
		.lay-e25p-m50p-s25p .colExtra{float:left;width:25%;margin:0 0 0 -75%;}

	/* m:25% | s:50% | e:25% */
	.lay-m25p-s50p-e25p{}
		.lay-m25p-s50p-e25p .colMain{float:left;width:24.99%;}
		.lay-m25p-s50p-e25p .colSub{float:left;width:49.99%;}
		.lay-m25p-s50p-e25p .colExtra{float:right;width:24.99%;}

	/* m:25% | e:50% | s:25% */
	.lay-m25p-e50p-s25p{}
		.lay-m25p-e50p-s25p .colMain{float:left;width:24.99%;}
		.lay-m25p-e50p-s25p .colSub{float:right;width:24.99%;}
		.lay-m25p-e50p-s25p .colExtra{float:left;width:49.99%;}

	/* s:25% | e:50% | m:25% */
	.lay-s25p-e50p-m25p{}
		.lay-s25p-e50p-m25p .colMain{float:right;width:24.99%;}
		.lay-s25p-e50p-m25p .colSub{float:left;width:24.99%;}
		.lay-s25p-e50p-m25p .colExtra{float:left;width:49.99%;}

	/* e:25% | s:50% | m:25% */
	.lay-e25p-s50p-m25p{}
		.lay-e25p-s50p-m25p .colMain{float:right;width:24.99%;}
		.lay-e25p-s50p-m25p .colSub{float:right;width:49.99%;}
		.lay-e25p-s50p-m25p .colExtra{float:left;width:24.99%;}

/* module */
.mod{position:relative;z-index:0;margin:0 0 10px;border:1px dashed #C4C6B9;background:url(i/mod-xy.gif) repeat;zoom:1;}
	.mod .mDc{display:none;}
	.mod .mCt{position:relative;z-index:0;background:url(i/mod-x.gif) repeat-x;}
		.mod .mTb{/*fixed*/margin:0 1px;padding:6px 7px 0;border-bottom:1px solid #ccc;}
			.mod .mTb *{line-height:normal;}
			.mod .mTb ul{float:left;margin:0;padding:2px 0;*padding:3px 0 1px;list-style:none;}
			.mod .mTb li{display:inline;position:relative;margin:0 1px;}
			.mod .mTb li a{padding:2px 5px;*padding:3px 5px 1px;border:1px solid #ccc;border-width:1px 1px 0;background:#f0f0f0;text-decoration:none;}
			.mod .mTb li a:hover{background:#f9f9f9;color:#666;text-decoration:none;}
			.mod .mTb li.on a,
			.mod .mTb li.on strong{padding:3px 5px;*padding:4px 5px 2px;border:1px solid #ccc;border-width:1px 1px 0;background:#fff;cursor:default;}
			.mod .mTb .option{float:right;}
		.mod .mHd{/*fixed*/overflow:hidden;margin:0 1px;padding:5px 10px;border-bottom:1px dashed #C4C6B9;}
			.mod .mHd h3{float:left;margin:0;*padding-top:2px;color:#300;font:700 12px/20px Verdana,Arial,Helvetica,sans-serif;}
			.mod .mHd h3 strong{font:700 14px/24px Verdana,Arial,Helvetica,sans-serif;}
			.mod .mHd h3 select,
			.mod .mHd h3 option{font-weight:400;}
			.mod .mHd .option{float:right;}
		.mod .mNk{/*fixed*/overflow:hidden;margin:0 1px;padding:2px 7px;*padding:3px 7px 1px;border-bottom:1px solid #eee;}
			.mod .mNk h4{float:left;margin:0;font:400 12px/20px Verdana,Arial,Helvetica,sans-serif;}
			.mod .mNk h4 select,
			.mod .mNk h4 option{font-weight:400;}
			.mod .mNk .option{float:right;}
		.mod .mBd{/*fixed*/padding:10px;}
		.mod .mFt{/*fixed*/padding:2px 10px;*padding:3px 10px 1px;border-top:1px solid #eee;text-align:right;}

	/* mod group */
	.mod-group{}
		.mod-group .mFirst{}
		.mod-group .mItem{border-top:1px dashed #a6a6a6;}
		.mod-group .mLast{border-top:1px dashed #a6a6a6;}

	/* mod toggle */
	.mod-toggle{}
		.mod-toggle-on .mBd{display:block;}
		.mod-toggle-off .mHd{border-bottom:0;}
		.mod-toggle-off .mBd{display:none;}

	/* shadowy mod (modern browser only) */
	.mod-shadow>.mDc{display:block;}
		.mod-shadow>.mDc *{display:block;position:absolute;z-index:-1;height:100%;width:100%;background:url(i/ds-000-a50.png) no-repeat;}
		.mod-shadow>.mDc .tl{top:-10px;left:-10px;background-position:0 0;}
		.mod-shadow>.mDc .tr{top:-10px;right:-10px;width:20px;height:20px;background-position:100% 0;}
		.mod-shadow>.mDc .br{right:-10px;bottom:-10px;background-position:100% 100%;}
		.mod-shadow>.mDc .bl{bottom:-10px;left:-10px;width:20px;height:20px;background-position:0 100%;}

	/* rounded mod */
	.mod-rounded{*margin:5px 0 20px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;}
		.mod-rounded .mDc{*display:block;}
			.mod-rounded .mDc *{display:block;position:absolute;z-index:1;width:100%;height:5px;background:url(i/rc-r5-9c9c9c.png) no-repeat;_background-image:url(i/rc-r5-9c9c9c.gif);font:1px/1px Arial;}
			.mod-rounded .mDc .tl{top:-5px;left:-5px;background-position:0 0;}
			.mod-rounded .mDc .tr{top:-5px;right:-5px;width:10px;background-position:100% 0;}
			.mod-rounded .mDc .br{right:-5px;bottom:-5px;background-position:100% 100%;}
			.mod-rounded .mDc .bl{bottom:-5px;left:-5px;width:10px;background-position:0 100%;}
		.mod-rounded .mCt{*margin:3px 7px;}

	/*.mod-rounded{-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;}
	.mod-rounded>.mDc{display:block;}
		.mod-rounded>.mDc *{display:block;position:absolute;z-index:1;height:5px;width:5px;background:url(img/rc-r5-9c9c9c.gif) no-repeat;font:1px/1px Arial;}
		.mod-rounded>.mDc .tl{top:-1px;left:-1px;background-position:0 0;}
		.mod-rounded>.mDc .tr{top:-1px;right:-1px;background-position:100% 0;}
		.mod-rounded>.mDc .br{right:-1px;bottom:-1px;background-position:100% 100%;}
		.mod-rounded>.mDc .bl{bottom:-1px;left:-1px;background-position:0 100%;}*/

/* ul.square */
ul.square li{width:100%;height:20px;margin:3px 0;background:url(i/li_square.gif) no-repeat 0 0;font-family:Arial,sans-serif;line-height:20px;text-indent:1.2em;}
ul.square li.hot{background-position:-3000px 0;}

/* ul.dropList */
ul.dropList{/*margin:-1px 0;*/margin:0 1px;list-style:none;background:#f6f7ea;}
	ul.dropList li{overflow:hidden;margin:1px 0;padding:3px 5px;border-bottom:1px solid #e7e7e7;color:#a54f3f;text-decoration:none;line-height:1.2em;white-space:nowrap;cursor:pointer;zoom:1;}
	ul.dropList li.on{background-color:#900222;color:#fff;cursor:pointer;}
	ul.dropList li.default{padding:4px 5px;line-height:1.2em;white-space:nowrap;cursor:default;zoom:1;}
	/*highlight text*/
		ul.dropList li em{padding:0 1px;font-style:normal;font-weight:bold;background:#ff9;color:#900222;}
		ul.dropList li.on em{background:#a54f3f;color:#ff9;}

/* ul.doubly */
ul.doubly{margin:0;list-style:none;}
	ul.doubly li{/*fixed*/}
	ul.doubly li .title{float:left;}
	ul.doubly li .info{float:right;}

/* table.list */
table.list{width:100%;}
	table.list th,
	table.list td{padding:2px 5px;border:0;}
	table.list tbody tr{background:url(i/line-ccc.gif) -4000px 100% repeat-x;}
	table.list tbody tr.end{background:none;}
	table.list thead th,
	table.list tbody tr.end td,
	table.list thead td{border-bottom:1px solid #ccc;}
	table.list tfoot td{text-align:right;}

/* dl.fieldset */
dl.fieldset{margin:0;padding:0 0 0 105px;}
	dl.fieldset dt{_display:inline;float:left;clear:both;width:100px;margin:0 0 0 -105px;padding:2px 0 0;*padding:4px 0 0;font-family:Verdana,Arial,Helvetica,sans-serif;text-align:right;white-space:nowrap;}
		dl.fieldset dt label{}
		dl.fieldset dt .required{color:#f06;cursor:help;}
	dl.fieldset dd{float:left;width:100%;margin:0;padding:0 0 10px;}
		dl.fieldset .option{float:right;}
		dl.fieldset .formCorrect,
		dl.fieldset .formError{height:18px;margin:0 0 0 5px;padding:0 0 0 20px;line-height:18px;zoom:1;}
		dl.fieldset .formCorrect{background:url(i/icons/16/succeed.gif) no-repeat;color:#0a3;}
		dl.fieldset .formError{background:url(i/icons/16/error.gif) no-repeat;color:#f33;}
		dl.fieldset .formTip{display:block;clear:both;height:18px;margin:0;padding:2px 0 0 5px;color:#999;}
		dl.fieldset dl.fieldset{padding:10px 0 3px 85px;border:1px solid #ccc;background:#f0f0f0;}
			dl.fieldset dl.fieldset dt{width:80px;margin:0 0 0 -85px;}
/*
dl.fieldset dd.correct{background:#cfe;}
		dl.fieldset dd.correct select,
		dl.fieldset dd.correct input{border-color:#0a3;}
	dl.fieldset dd.error{background:#fce;}
		dl.fieldset dd.error select,
		dl.fieldset dd.error input{border-color:#f33;}
*/
/* reset label width method:
 * ? dl.fieldset{padding-left:85px;}
 * ? dl.fieldset dt{width:80px;margin-left:-85px;}
 */

/* avatar */
img.avatar{width:48px;height:48px;}
img.avatar-16{width:16px;height:16px;padding:1px;border:1px solid #d2d2d2;}
img.avatar-32{width:32px;height:32px;padding:1px;border:1px solid #d2d2d2;}
img.avatar-40{width:40px;height:40px;}
img.avatar-48{width:48px;height:48px;padding:1px;border:1px solid #d2d2d2;}
img.avatar-80{width:80px;height:80px;}
img.avatar-full{max-width:200px;max-height:200px;}

/* certify */
.certify-pending,
.certify-succeed,
.certify-failed{height:18px;margin:0 0 0 5px;padding:0 0 0 20px;line-height:18px;cursor:help;zoom:1;}
.certify-pending{background:url(i/icons/16/certify-pending.gif) no-repeat;color:#f60;}
.certify-succeed{background:url(i/icons/16/certify-succeed.gif) no-repeat;color:#0a3;}
.certify-failed{background:url(i/icons/16/certify-failed.gif) no-repeat;color:#f33;}

/* tabs */
.tabs{/*fixed*/margin:0 0 10px;padding:0 10px;border-bottom:2px solid #900;white-space:nowrap;}
	.tabs ul{float:left;margin:0;list-style:none;}
		.tabs li{_display:inline;float:left;margin:1px 3px 0;}
			.tabs li a,
			.tabs li a:hover{display:block;float:left;padding:0 10px 0 0;background:url(i/tabs.gif) 100% 0 no-repeat;text-decoration:none;color:#333;}
			.tabs li a span{display:block;float:left;height:20px;padding:2px 0 1px 10px;*padding:3px 0 0 10px;background:url(i/tabs.gif) 0 0 no-repeat;line-height:20px;cursor:pointer;}
			.tabs li em{padding:0 0 0 3px;font:normal 10px/1.2em Arial,Helvetica,sans-serif;}
			.tabs li i{margin-right:-1em;}
		.tabs li.on{margin:0 3px;}
			.tabs li.on a,
			.tabs li.on a:hover{background-position:100% -50px;color:#fff;}
			.tabs li.on a span{padding:2px 0 2px 10px;*padding:4px 0 0 10px;background-position:0 -50px;}
		.tabs li.orphan{}
			.tabs li.orphan a,
			.tabs li.orphan a:hover{padding:0;border:0;background:none;color:#930;}
			.tabs li.orphan a:hover{text-decoration:underline;}
			.tabs li.orphan a span{padding-left:7px;padding-right:7px;background:none;}
	.tabs .option{float:right;padding:3px 0 0;*padding:4px 0 0;}
		.tabs .option a{text-decoration:none;}
		.tabs .option a:hover{text-decoration:underline;}

/* filters */
.filters{padding:0 10px;text-align:right;}
	.filters a{margin:0 5px;}
	.filters .on,
	.filters .on:hover{display:-moz-inline-stack;display:inline-block;_display:inline;padding:0 5px 0 0;background:url(i/filters.gif) 100% 0 no-repeat;color:#fff;text-decoration:none;zoom:1;}
		.filters .on span{display:block;_display:inline;height:20px;padding:0 0 0 5px;background:url(i/filters.gif) no-repeat;line-height:20px;zoom:1;}

/* crumbs */
.crumbs{}
	.crumbs a{}
	.crumbs strong{font-weight:normal;}
	.crumbs .step{padding:0 5px;font-family:Verdana,sans-serif;}
	.crumbs .option{float:right;}

/* pager */
.pager{/*fixed*/text-align:right;}
	.pager a,
	.pager span,
	.pager strong{display:-moz-inline-stack;display:inline-block;*display:inline;overflow:hidden;height:16px;margin:2px;padding:1px 5px;font:12px/16px Verdana,Arial,Helvetica,sans-serif;text-decoration:none;vertical-align:middle;zoom:1;}
	.pager a{border:1px solid #d2d2d2;}
	.pager a:hover{background:#621212;color:#fff;text-decoration:none;}
	.pager span{padding:2px 1px;}
	.pager strong{padding:2px 6px 2px 5px;color:#444;font-weight:bold;}
	.pager .pagePrev,
	.pager .pageNext{padding:1px 5px;*padding:2px 5px 0;}
	.pager .pageNow{visibility:hidden;}
/*
.pager-simple{}
	.pager-simple .pagePrev{float:left;}
	.pager-simple .pageNext{float:right;}
*/

/* divider */
.diviTitle{/*fixed*/position:relative;margin:5px 0;}
	.diviTitle .diviLabel,
	.diviTitle .option{display:block;position:relative;z-index:2;float:left;padding:0 7px 0 0;background:#f7f5e6;font-weight:400;}
	.diviTitle .option{float:right;padding:0 0 0 7px;}
	.diviTitle .diviLine{display:block;position:absolute;top:50%;left:0;z-index:1;width:100%;height:0;border-bottom:1px solid #ccc;font:0/0 Arial;}
 
/* tip */
.tip{margin:0 0 10px;padding:5px 7px;border:1px solid #e5cc59;background:#fffbda;}
	.tip .option{float:right;}
	.tip .head{padding:3px;*padding:4px 3px 2px;border-bottom:1px dashed #ccc;}
		.tip .head h3,
		.tip .head h4{float:left;margin:0;font:bold 12px/1.6em Verdana,Arial,Helvetica,sans-serif;}
	.tip .body{padding:5px;}

/* msg */
.msg{margin:0 0 10px;padding:5px 10px 5px 32px;border:1px solid #e5cc59;background:#fffbda url(i/icons/16/info.gif) 10px 7px no-repeat;color:#333;}
	.msg h4{margin:0 0 0.5em 0;color:#666;}
	.msg p{margin:0;}
	.msg ul,
	.msg ol{margin:0 0 0 2em;}
.msg-info{border:1px solid #e5cc59;background-color:#fffbda;background-image:url(i/icons/16/info.gif);}
.msg-succeed{border:1px solid #b1be60;background-color:#fffef5;background-image:url(i/icons/16/succeed.gif);}
.msg-failed{border:1px solid #c1757f;background-color:#fffef5;background-image:url(i/icons/16/error.gif);}
.msg-loading{background-image:url(i/icons/16/loading.gif);}

.msg-privacy{padding:12px 10px 20px 85px;border:1px solid #e6cf63;background:#fffdec url(i/msg-privacy.jpg) 12px 10px no-repeat;}
	.msg-privacy .msgTitle{font:bold 14px/1.6em Verdana,Geneva,sans-serif;}
	.msg-privacy .msgAction{height:24px;margin:20px 0 0 2.5em;}
.msg-privacy-thin{padding:12px 10px 12px 60px;border:1px solid #e6cf63;background:#fffdec url(i/msg-privacy-thin.jpg) 12px 10px no-repeat;}

/*
.msg-full{margin:0;padding:0;border:0;}
	.msg-full .msgIcon{_display:inline;overflow:hidden;float:left;width:80px;margin:10px;text-align:center;}
		.msg-full .msgIcon img{vertical-align:middle;}
	.msg-full .msgTitle,
	.msg-full .msgContent,
	.msg-full .msgAction{margin:5px 0 5px 100px;word-wrap:break-word;}
	.msg-full .msgTitle{font:bold 16px/1.2em Verdana,Geneva,sans-serif;}
	.msg-full .msgContent{}
	.msg-full .msgAction{height:24px;margin:15px 0 0;}
*/
	

/* tooltip (default tail: towards bottom) */
.tooltip{position:absolute;z-index:300;height:40px;margin:0;}
	.tooltip .content{overflow:hidden;_float:left;height:20px;line-height:20px;white-space:nowrap;}
	.tooltip,
	.tooltip .content{background:url(i/tooltip.png) no-repeat;_background-image:url(i/tooltip.gif)}
	.tooltip,
	.tooltip-bottom{padding:0 0 0 15px;background-position:0 -40px;}
	.tooltip .content,
	.tooltip-bottom .content{padding:10px 15px 10px 0;background-position:100% -40px;}
	.tooltip-top{padding:0 15px 0 0;background-position:100% 0;}
	.tooltip-top .content{padding:10px 0 10px 15px;background-position:0 0;}

/* balloon (default tail: towards top) */
.balloon{position:absolute;z-index:400;_width:0;margin:10px;_border:1px solid #666;_background:#fff;}
	.balloon .decor{}
		.balloon .decor *{display:block;position:absolute;}
	.balloon .content{position:relative;z-index:0;*padding:2px 0 0;}
	/* for modern browser */
	.balloon>.decor{}
		.balloon>.decor *{z-index:-1;height:100%;width:100%;background-image:url(i/balloon-top.png);background-repeat:no-repeat;}
		.balloon>.decor .tl{top:-10px;left:-10px;background-position:0 0;}
		.balloon>.decor .tr{top:-10px;right:-10px;width:20px;height:20px;background-position:100% 0;}
		.balloon>.decor .br{right:-10px;bottom:-10px;background-position:100% 100%;}
		.balloon>.decor .bl{bottom:-10px;left:-10px;width:20px;height:20px;background-position:0 100%;}
		.balloon-top>.decor *{background-image:url(i/balloon-top.png);}
		.balloon-bottom>.decor *{background-image:url(i/balloon-bottom.png);}
	/* for ie6 */
	* html .balloon .decor{}
		* html .balloon .decor *{overflow:hidden;z-index:1;width:1px;height:1px;background:#fff;background-image:none;border:1px solid #666;}
		* html .balloon .decor .tl{top:-2px;left:0;border-width:1px 0 0;}
		* html .balloon .decor .tr{top:-2px;right:0;border-width:1px 0 0;}
		* html .balloon .decor .br{right:0;bottom:-2px;border-width:0 0 1px;}
		* html .balloon .decor .bl{bottom:-2px;left:0;border-width:0 0 1px;}
		* html .balloon-top .decor .tl{display:block;top:-10px;left:0;height:10px;width:24px;border:0;background:transparent url(i/balloon-handle.gif) no-repeat 0 0;}
		* html .balloon-bottom .decor .br{display:block;bottom:-10px;right:0;height:10px;width:24px;border:0;background:transparent url(i/balloon-handle.gif) no-repeat 100% -10px;}
	* html .balloon .content{margin:-3px 1px;border:1px solid #666;border-width:1px 0;background:#fff;white-space:nowrap;zoom:1.1;}

/* .content */
.content{/* not allow to be fixed */}
	.content .head{/*fixed*/overflow:hidden;padding:5px 10px;background:#900222;border:1px solid #c66;border-color:#c66 #933 #600 #c66;color:#fff;}
		.content .head h4{float:left;}
		.content .option{float:right;}
	.content .body{/*fixed*/padding:10px;}
	.content .foot{padding:7px 10px;border-top:1px solid #ddd;background:#eceeda;text-align:center;}

/* popLayer */
.popLayer{position:absolute;z-index:200;_height:0;}
	.popLayer .decor{position:absolute;right:-2px;bottom:-2px;z-index:-1;width:100%;height:100%;background:#000;-moz-opacity:0.1;opacity:.10;filter:alpha(opacity=10);}
	.popLayer .content{position:relative;z-index:0;border:1px solid #c3b2a5;background:#f6f7ea;}

/* dialog (default size: w300*h180px) */
/*
.dialog{position:fixed;_position:absolute;top:45%;left:50%;z-index:3100;min-width:300px;min-height:180px;_width:300px;_height:180px;}
	.dialog .decor{position:absolute;top:-50%;left:-50%;z-index:-1;width:100%;height:100%;margin:-8px;padding:8px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;background:#333;-moz-opacity:0.5;opacity:.50;filter:alpha(opacity=50);}
	.dialog .content{position:absolute;top:-50%;left:-50%;z-index:0;width:100%;height:100%;margin:-1px;border:1px solid #ccc;background:#fff;}
*/
.dialog{position:fixed;_position:absolute;top:200px;left:50%;z-index:3100;width:300px;}
	.dialog .decor{_display:none;position:absolute;z-index:-1;width:100%;height:100%;margin:-8px;padding:8px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;background:#333;-moz-opacity:0.5;opacity:.50;filter:alpha(opacity=50);}
	.dialog .content{position:relative;z-index:0;_height:180px;min-height:180px;margin:-1px;*margin:0 0 -1px -1px;border:1px solid #900;background:#fff;}
		.dialog .head{background:#900222;border:1px solid #c66;border-color:#c66 #933 #600 #c66;}
		.dialog .body{padding:12px 15px 60px;}
		.dialog .foot{position:absolute;bottom:0;left:0;width:100%;padding:10px 0 15px;text-align:center;}
			.dialog .foot button.button{margin:0 10px;}
			.dialog .foot .button button{padding:0 10px;}
	.dialog .load-page{_height:60px;min-height:60px;background-color:#eceeda;}
		.dialog .load-page *{display:none;}

.dialog-succeed .content{border-color:#6e9;}
	.dialog-succeed .head{border:0;background:#dfe;color:#333;}
.dialog-failed .content{border-color:#e69;}
	.dialog-failed .head{border:0;background:#fde;color:#333;}

/* loading */
.load,
.load-part,
.load-page{min-height:100px;_height:100px;background-position:center !important;background-repeat:no-repeat !important;}
.load,
.load-part{background-image:url(i/load-part.gif) !important;}
.load-page{background-image:url(i/load-page.gif) !important;}
span.load-part{display:-moz-inline-stack;display:inline-block;*display:inline;height:20px;min-height:20px;padding:0 0 0 20px;background-position:0 50% !important;line-height:20px;vertical-align:middle;zoom:1;}

/* cursor */
.cursor-default{cursor:default !important;}
.cursor-pointer{cursor:pointer !important;}
.cursor-text{cursor:text !important;}
.cursor-move{cursor:move !important;}
.cursor-wait{cursor:wait !important;}
.cursor-help{cursor:help !important;}

/* maskLayer */
.maskLayer{position:fixed;_position:absolute;top:0;left:0;z-index:3000;width:100%;height:100%;background:none;/*-moz-opacity:0.6;opacity:.60;filter:alpha(opacity=60);*/}
	.maskLayer iframe{display:none;_display:block;width:100%;height:100%;filter:mask();}

/* scrollbar */
.scrollbar{position:absolute;top:0;right:0;z-index:2200;width:17px;height:100%;/*padding:17px 0;*/background:#6f1e1e url(i/scrollbar.png);zoom:1;}
	.scrollbar em,
	.scrollbar span{display:block;position:absolute;left:0;width:17px;height:17px;background-image:url(i/scrollbar.png);}
	.scrollbarUp{top:0;height:17px;background-position:-20px 0;}
		.scrollbarUp-hover{background-position:-80px 0;}
		.scrollbarUp-click{background-position:-140px 0;}
	.scrollbarDown{bottom:0;height:17px;background-position:-20px 100%;}
		.scrollbarDown-hover{background-position:-80px 100%;}
		.scrollbarDown-click{background-position:-140px 100%;}
	.scrollbarHandle{position:relative !important;top:17px;background-position:-60px 0;}
		.scrollbarHandle-hover{background-position:-120px 0;}
		.scrollbarHandle-click{background-position:-180px 0;}
		.scrollbarHandle span{height:5px;}
		.scrollbarHandleTop{top:0;background-position:-40px 0;}
			.scrollbarHandle-hover .scrollbarHandleTop{background-position:-100px 0;}
			.scrollbarHandle-click .scrollbarHandleTop{background-position:-160px 0;}
		.scrollbarHandleBottom{bottom:0;background-position:-40px 100%;}
			.scrollbarHandle-hover .scrollbarHandleBottom{background-position:-100px 100%;}
			.scrollbarHandle-click .scrollbarHandleBottom{background-position:-160px 100%;}

/* fix classes */
.canvas:after,
.lay:after,
.lay .layInt:after,
dl.fieldset:after,
ul.doubly li:after,
ul.friends:after,
ul.friendList:after,
.friendItem:after,
.diviTitle:after,
.msg-full:after,
.tabs:after,
.crumbs:after,
.pager:after,
.emots:after,
.mTb:after,
.mHd:after,
.mNk:after,
.mBd:after,
.mFt:after,
.appHead:after,
.head:after,
.body:after,
.foot:after{content:'\0020';display:block;clear:both;height:0;}
.canvas,
.lay,
.lay .layInt,
dl.fieldset,
ul.doubly li,
ul.friends,
ul.friendList,
.friendItem,
.diviTitle,
.msg-full,
.tabs,
.crumbs,
.pager,
.emots,
.mTb,
.mHd,
.mNk,
.mBd,
.mFt,
.appHead,
.head,
.body,
.foot{zoom:1;}


/*** Framework ***/

/* Core Layout */
html{overflow:-moz-scrollbars-vertical;overflow-x:auto;_overflow:hidden;height:100%;}
body{display:block;height:100%;}
#navbar{position:fixed;_position:absolute;top:0;left:0;z-index:2100;width:100%;_margin:0 0 0 -17px;background:none;}
#appbar{position:fixed;_position:absolute;left:0;z-index:2000;}
#imbar{position:fixed;_position:absolute;right:0;_right:17px;z-index:2000;}
#imbarNotiArea{position:fixed;_position:absolute;right:0;_right:17px;bottom:0;z-index:2100;}
#page{position:relative;z-index:0;zoom:1;}
* html #scrollWrap{overflow:auto;overflow-y:scroll;position:relative;z-index:0;width:100%;height:100%;}

#navbarInt:after,
#appbarList:after,
#pageInt:after,
#headerInt:after,
#canvasInt:after,
#footerInt:after{content:'\0020';display:block;clear:both;height:0;}
#navbarInt,
#appbarList,
#pageInt,
#headerInt,
#canvasInt,
#footerInt{zoom:1;}
	
/* Visual & Common Layout */
#navbar{background:#000;}
	#navbar iframe.maskIframe{height:68px;z-index:1;}
	#navbarMid{position:relative;z-index:2;}
		#navbarInt{height:68px;_padding:0 0 0 17px;}
			#navbar a{text-decoration:none;}
			#navbar a:hover{text-decoration:underline;}
			#navbarLogo{float:left;padding:2px 0 0 50px;}
				#navbarLogo h1 span{display:none;}
			#navbarMain{float:left;padding:25px 0 0 28px;font:14px/20px Verdana,Geneva,sans-serif,'宋体';}
				#navbarMain a,
				#navbarMain a:hover{color:#fff;}
				#navbarMain ul{}
					#navbarMain li{_display:inline;position:relative;float:left;width:100px;margin:0 -5px;text-align:center;zoom:1;}
						#navbarMain li a{display:-moz-inline-stack;display:inline-block;_display:inline;/*display:block;width:auto;min-width:0;_width:0;*/position:relative;z-index:2;margin:0 auto;padding:0 16px 0 0;cursor:pointer;zoom:1;}
							#navbarMain li a span{display:-moz-inline-stack;display:inline-block;_display:inline;/*display:block;width:auto;min-width:0;_width:0;*/margin:1px;padding:2px 5px 2px 21px;*padding:4px 5px 0 21px;background-image:none;background-repeat:no-repeat;white-space:nowrap;zoom:1;}
						#navbarMain li a:hover{text-decoration:none;}
						#navbarMain li em{display:none;position:absolute;left:72%;top:0;z-index:0;padding:0 7px 0 0;background:url(i/bubble.png) 100% 0 no-repeat;_background-image:url(i/bubble.gif);}
							#navbarMain li em span{display:block;_display:inline;height:18px;padding:1px 0 0 4px;*padding:0 0 0 4px;background:url(i/bubble.png) 0 0 no-repeat;_background-image:url(i/bubble.gif);color:#fff;font:9px/12px Tahoma,Arial,Helvetica,sans-serif;zoom:1;}
						#navbarMain li li{display:block;position:static;float:none;margin:0;text-align:left;zoom:1;}
						#navbarMain li .flyoutMenuHd{}
						#navbarMain li .flyoutMenuBd{display:none;}
					#navbarMain li.flyout{}
						#navbarMain li.flyout .flyoutMenuHd{position:relative;z-index:2;}
							#navbarMain li.flyout .flyoutMenuHd span{margin:0;border:1px solid #933;border-bottom:0;background-color:#611;}
						#navbarMain li.flyout .flyoutMenuBd{display:block;position:absolute;top:24px;left:14px;z-index:0;min-width:100px;_width:100px;margin:0;_margin:0;padding:5px;border:1px solid #933;background:#611;color:#a5908c;font:12px/20px Arial,Helvetica,sans-serif;zoom:1;}
							#navbarMain .flyoutMenuBd a,
							#navbarMain .flyoutMenuBd a:hover{display:inline;float:none;padding:0;color:#e4c198;}
							#navbarMain ul.msgList{list-style:none;}
								#navbarMain ul.msgList li{width:160px;*margin:0 0 -3px;padding:0 5px 5px 30px;}
								#navbarMain ul.msgList li:after{content:"\0020";display:block;visibility:hidden;clear:both;height:0;}
									#navbarMain ul.msgList .msgIcon{_display:inline;float:left;width:20px;margin:3px 5px 3px -25px;}
									#navbarMain ul.msgList .msgContent{float:left;overflow-x:hidden;width:100%;*padding:2px 0 0;_padding:4px 0 0;border-bottom:1px solid #843431;}
										#navbarMain ul.msgList .msgContent a{}

			#navbarExtra{_display:inline;overflow:hidden;float:right;margin:30px 10px 0;white-space:nowrap;}
				#navbarExtra a,
				#navbarExtra a:hover{color:#666;}
				#navbarExtra li{_display:inline;float:left;margin:0 -1px 0 1px;}
					#navbarExtra li a{display:block;float:left;padding:0 10px;}
			
			#navbarSearch{ float:right; margin:26px 10px 0;*margin:23px 10px 0;}
				#navbarSearch input{ width:138px; border:1px solid #76001B; background:url(i/searchInputBg.jpg) top left no-repeat; color:#996567}
				#navbarSearch button{ width:24px; height:24px; overflow:hidden; background:url(i/navSearchBtn.gif) no-repeat 0 0; border:none; padding:0; cursor:pointer}
				#navbarSearch button:hover{ background-position:0 -50px;}
				#navbarSearch button span{ display:none}
			
#appbar{top:100px;_width:130px;}
	#appbarMid{padding:0 20px 0 0;}
		#appbarInt{_height:350px;min-height:350px;max-height:990px;background:url(i/sidebar.png) 0 -1000px repeat-x;_background-image:url(i/sidebar.gif);}
			#appbarDecor{}
				#appbarDecor .tr,
				#appbarDecor .br,
				#appbarDecor .bl{display:block;overflow:hidden;position:absolute;bottom:-10px;width:20px;height:10px;background:url(i/sidebar.png) no-repeat;_background-image:url(i/sidebar.gif);}
				#appbarDecor .tr{top:0;right:0;bottom:0;height:100%;background-position:0 0;}
				#appbarDecor .br{right:0;background-position:0 -990px;}
				#appbarDecor .bl{right:20px;width:100%;background-position:0 -1990px;background-repeat:repeat-x;}
			#appbarContent{padding:5px 5px 0;}
				#appbarToggle{display:block;position:absolute;top:96px;right:0;width:20px;height:70px;background:url(i/sidebarToggle.png) -20px 0 no-repeat;_background-image:url(i/sidebarToggle.gif);cursor:pointer;}
					#appbarToggle:hover{background-position:-20px -70px;}
				#appbarList{overflow:hidden;width:100px;}
					#appbarList ul{overflow:hidden;width:100px;margin:0;padding:5px;}
						#appbarList li{}
							#appbarList li a{display:block;overflow:hidden;height:24px;width:90px;/*margin:-2px 0 2px;_margin:0;*/padding:6px 5px 8px;_padding:4px 5px 10px;background:url(i/appbar-li.png) no-repeat 50% 0;_background-image:url(i/appbar-li.gif);color:#fff;}
							#appbarList li a:hover{background:url(i/appbar-li.png) no-repeat 50% -40px;_background-image:url(i/appbar-li.gif);text-decoration:none;}
							#appbarList img{width:24px;height:24px;margin:0 8px 0 0;vertical-align:middle;}
				#appbarActions{padding:10px 0 0 5px;}
					#appbarActions a{color:#A45D3D;}
					#appbarAdd{padding:0 0 0 16px;background:url(i/appbar-actions.gif) no-repeat;}
					#appbarManage{padding:0 0 0 16px;background:url(i/appbar-actions.gif) no-repeat 0 -20px;}
	/* appbar type */
	.appbar-thin{}
		
	.appbar-full{}
		.appbar-full #appbarToggle{background-position:-40px 0;}
		.appbar-full #appbarToggle:hover{background-position:-40px -70px;}
		.appbar-full #appbarList{width:auto;background:url(i/appbar-listDivider.png) 0 50% repeat-x;_background-image:url(i/appbar-listDivider.gif);}
					#appbarList ul{_display:inline;float:left;}
		

#imbar{top:100px;}
	#imbarMid{padding:0 0 0 20px;background:url(i/sidebar.png) -20px 0 no-repeat;_background-image:url(i/sidebar.gif);}
		#imbarInt{_height:350px;min-height:350px;max-height:990px;background:url(i/sidebar.png) 0 -1000px repeat-x;_background-image:url(i/sidebar.gif);zoom:1;}
			#imbarToggle{display:block;position:absolute;top:96px;left:0;z-index:1;width:20px;height:70px;background:url(i/sidebarToggle.png) 0 0 no-repeat;_background-image:url(i/sidebarToggle.gif);cursor:pointer;}
				#imbarToggle:hover{background-position:0 -70px;}
			#imbarDecor{}
				#imbarDecor .bl,
				#imbarDecor .br{display:block;overflow:hidden;position:absolute;bottom:-10px;height:10px;background:url(i/sidebar.png) no-repeat;_background-image:url(i/sidebar.gif);}
				#imbarDecor .bl{left:0;width:20px;background-position:-20px -990px;}
				#imbarDecor .br{left:20px;width:100%;background-position:0 -1990px;background-repeat:repeat-x;}
			ul.buddyList{}
				ul.buddyList li{position:relative;*margin:0 0 -3px;background:url(i/bar-line.png) repeat-x 0 100%;_background-image:url(i/bar-line.gif);}
					ul.buddyList .buddyAvatar{position:relative;z-index:0;width:36px;height:36px;}
						ul.buddyList .buddyAvatar img{display:block;width:32px;height:32px;padding:1px;border:1px solid #741a1a;zoom:1;}
						ul.buddyList .buddyAvatar em{position:absolute;top:0;left:0;display:block;width:36px;height:36px;background:url(i/imbar-status.png) no-repeat;_background-image:url(i/imbar-status.gif);cursor:pointer;}
					ul.buddyList .buddyInfo{position:relative;z-index:1;zoom:1;}
						ul.buddyList .buddyInfo:after{content:'\0020';display:block;clear:both;height:0;}
						ul.buddyList .buddyInfo strong{overflow:hidden;float:left;width:72px;font-weight:normal;}
						ul.buddyList .buddyInfo .actions{float:right;}
						ul.buddyList .buddyInfo .status{display:block;overflow:hidden;clear:both;width:100%;white-space:nowrap;*text-overflow:ellipsis;-o-text-overflow:ellipsis;}
				ul.buddyList li.on a{cursor:pointer;}
					/* buddy status */
					ul.im-available .buddyAvatar em{background-position:0 0;}
					ul.im-idle .buddyAvatar em{background-position:0 -40px;}
					ul.im-busy .buddyAvatar em{background-position:0 -80px;}
					ul.im-offline .buddyAvatar{}
						ul.im-offline .buddyAvatar img{border-color:#333;-moz-opacity:0.3;opacity:.30;filter:alpha(opacity=30);}
						ul.im-offline .buddyAvatar em{display:none;background-position:0 -160px;}
						ul.im-offline .buddyInfo .actions{display:none;}
			#imbarContent{position:relative;z-index:10;zoom:1;}
				#imbarInt a{color:#fff;}
				#imbarFilter{width:72px;margin:0 8px 7px auto;padding:0 5px;border:1px solid #893130;background:#621211;color:#fff;}
				#imbarBuddy{}
				#imbarActions{padding:5px 5px 0 0;text-align:right;}
					#imbarActions a{color:#A45D3D;}
					#imbarManage{padding:0 0 0 16px;background:url(i/appbar-actions.gif) no-repeat 0 -20px;}
			#imbarTaskList{position:absolute;top:0;right:100%;z-index:2;width:105px;}
				#imbarTaskList li{overflow:hidden;height:18px;margin:1px;padding:3px 5px;border:1px solid #8D3B2F;background:#61140e url(i/imbarBoxs.gif) 0 0 repeat-x;color:#fff;line-height:16px;*line-height:20px;cursor:pointer;zoom:1;}
					#imbarTaskList li:after{content:'\0020';display:block;clear:both;height:0;}
					#imbarTaskList li strong{overflow:hidden;float:left;width:72px;font-weight:normal;}
					#imbarTaskList li .icon{float:right;cursor:pointer;-moz-opacity:0.5;opacity:.50;filter:alpha(opacity=50);}
				#imbarTaskList li.on{background:#8c1c1b url(i/imbarBoxs.gif) 0 -30px repeat-x;}
					#imbarTaskList li .icon{cursor:pointer;}
			
	/* imbar-type */
	.imbar-tiny{width:20px;}
		.imbar-tiny #imbarContent{display:none;}
	
	.imbar-thin{width:65px;}
		.imbar-thin #imbarContent{padding:10px 0 0 0;}
			.imbar-thin #imbarFilter,
			.imbar-thin #imbarScrollbar{display:none;}
			.imbar-thin #imbarBuddy{padding:0 5px 0 0;}
				.imbar-thin #imbarBuddyList li{padding:2px 2px 4px;zoom:1;}
					.imbar-thin #imbarBuddyList .buddyAvatar{}
					.imbar-thin #imbarBuddyList .buddyInfo{display:none;}
				.imbar-thin #imbarBuddyList li.on{}
					.imbar-thin #imbarBuddyList li.on .buddyInfo{display:block;position:absolute;top:7px;right:40px;width:100px;height:18px;padding:3px 10px;border:1px solid #8D3B2F;background:#61140e url(i/imbarBoxs.gif) 0 -60px repeat-x;color:#fff;line-height:16px;*line-height:20px;}
						.imbar-thin #imbarBuddyList li.on .buddyInfo .actions{padding:0 0 0 5px;border-left:1px solid #943D33;}
						.imbar-thin #imbarBuddyList li.on .buddyInfo .status{display:none;}
				
	.imbar-full{width:180px;}
		.imbar-full #imbarContent{padding:10px 0 0 0;}
			.imbar-full #imbarBuddy{position:relative;padding:5px 22px 3px 0;background:url(i/bar-line.png) repeat-x;_background-image:url(i/bar-line.gif);}
				.imbar-full #imbarScrollWrap{position:relative;overflow:hidden;height:100%;}
					.imbar-full #imbarBuddyList{position:relative;}
						.imbar-full #imbarBuddyList li{padding:2px 2px 4px 45px;zoom:1;}
							.imbar-full #imbarBuddyList li:after{content:'\0020';display:block;clear:both;height:0;}
							.imbar-full #imbarBuddyList .buddyAvatar{_display:inline;float:left;margin:0 0 0 -40px;}
							.imbar-full #imbarBuddyList .buddyInfo{float:right;width:100%;height:36px;line-height:18px;}
								.imbar-full #imbarBuddyList .buddyInfo .status{color:#a4918d;}
			.imbar-full #imbarActions{padding:5px 10px 0 0;}

#imbarNotiArea{/*position:absolute;bottom:-10px;right:100%;z-index:3;*/width:160px;}
	#imbarNotiArea a{color:#fff;}
	#imbarNotiArea ul{padding:5px;*padding:2px 5px;}
		#imbarNotiArea li{position:relative;margin:1px;padding:5px 2px 5px 45px;border:1px solid #8D3B2F;background:#61140e url(i/imbarBoxs.gif) 0 -100px repeat-x;color:#fff;zoom:1;}
			#imbarNotiArea li:after{content:'\0020';display:block;clear:both;height:0;}
			#imbarNotiArea .close{position:absolute;top:0;right:0;z-index:2;cursor:pointer;-moz-opacity:0.5;opacity:.50;filter:alpha(opacity=50);}
			#imbarNotiArea .buddyAvatar{_display:inline;float:left;margin:0 0 0 -40px;}
				#imbarNotiArea .buddyAvatar img{display:block;width:32px;height:32px;padding:1px;border:1px solid #741a1a;}
				#imbarNotiArea .buddyAvatar em{display:none;}
			#imbarNotiArea .buddyInfo{overflow:hidden;float:right;width:100%;height:36px;line-height:18px;}
				#imbarNotiArea .buddyInfo .actions{float:left;padding:0 0 0 3px;}

#page{}
	#pageMid{}
		#pageInt{}
			#pageHd{}
				#pageHdInt{}
			#pageBd{}
				#pageBdInt{width:970px;padding:50px 0 20px;}
			#pageFt{padding:10px 0 10px;/*padding:20px 0 15px 142px;*/color:#c1a394;text-align:center;}
				#pageFtInt{}
					#pageFt a{color:#c1a394;}
					#pageFt .decor{display:none;}
					#pageFt .content{}
						#pageFt .powered{padding:10px;}
						#pageFt .contact{}
						#pageFt .copyright{}


/*** Canvas Layout ***/
#canvas-blank{}
#canvas-home{margin:0 50px 0 142px;}
#canvas-profile{margin:0 0 0 142px;padding:25px 0 0;}
#canvas-app{margin:0 0 0 142px;}
	#canvas-appInt{min-height:500px;_height:500px;padding:20px 10px 10px;}
		.appHead{margin:0 0 15px 0;padding:15px 15px 0;}
			.appHead h2{float:left;margin:0;font:bold 14px/20px Verdana,Arial,Helvetica,sans-serif;white-space:nowrap;}
				.appHead h2 img{width:24px;height:24px;margin:-2px 10px 0 0;*margin-top:0;_margin-top:-4px;vertical-align:middle;}
			.appHead h2.user{}
				.appHead h2.user img.avatar-48{float:left;width:48px;height:48px;margin:0 7px 0 0;}
				.appHead h2.user strong{display:block;padding:5px 0;}
				.appHead h2.user span{display:block;font:normal 12px/20px Verdana,Geneva,sans-serif;}
				.appHead h2.user span.pipe{display:inline;}
			.appHead .crumbs{float:left;}
			.appHead .option{float:right;}
		.appBody{}
			.appTabs{/*display:none;*/}
			.appFilters{}
			.appActions{margin:-5px 12px;text-align:right;}
			.appCrumbs{margin:0 12px;}
			.appContent{margin:15px 12px 10px;}
		.appFoot{padding:2px 5px 0;border-top:2px solid #ccc;color:#aaa;}
			.appFoot a{color:#aaa;text-decoration:underline;}


/*** System App Styles ***/

/* im */
.imStatus{display:-moz-inline-stack;display:inline-block;_display:inline;height:19px;padding:0 0 1px 20px;*padding:1px 0 0 20px;background:url(i/imStatus.png) no-repeat;_background-image:url(i/imStatus.gif);color:#333 !important;text-decoration:none !important;cursor:default;zoom:1;}
	span.im-available,
	a.im-available{background-position:0 0;}
	span.im-idle,
	a.im-idle{background-position:0 -40px;}
	span.im-busy,
	a.im-busy{background-position:0 -80px;}
	span.im-offline,
	a.im-offline{background-position:0 -120px;}

.setImStatus{position:relative;float:left;height:20px;background:url(i/imStatus.gif) 100% -160px no-repeat;padding:0 18px 0 2px;cursor:pointer;}
	.setImStatus .imStatus{position:relative;cursor:pointer;}
	.setImStatusLayer{position:absolute;left:0;top:100%;width:60px;}
		.setImStatusLayer ul.dropList li{padding:3px 5px 3px 20px;*padding:4px 5px 2px 20px;background-image:url(i/imStatus.png);_background-image:url(i/imStatus.gif);background-repeat:no-repeat;}
			.setImStatusLayer li.setIm-available{background-position:0 0;}
			.setImStatusLayer li.setIm-idle{background-position:0 -40px;}
			.setImStatusLayer li.setIm-busy{background-position:0 -80px;}
			.setImStatusLayer li.setIm-offline{background-position:0 -120px;}

/* friend */
.friendItem{/*fixed*/overflow:hidden;}
	.friendAvatar{_display:inline;overflow:hidden;float:left;}
	.firendOption{_display:inline;float:right;}
	.friendInfo{_display:inline;float:left;overflow:hidden;word-wrap:break-word;}
		.friendInfo p{margin:0;line-height:16px;}

ul.friends{margin:0;list-style:none;}
ul.friends .friendItem{_display:inline;float:left;width:64px;padding:5px;text-align:center;}
	ul.friends .friendAvatar{display:block;float:none;width:52px;height:52px;margin:0 auto;}
		ul.friends .friendAvatar img.avatar-48{background:none;}
	ul.friends .friendInfo{display:block;float:none;width:100%;padding:0;*text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
		ul.friends .friendInfo h4{font-weight:normal;}
		ul.friends .friendInfo p{margin:0;}

ul.friendList{overflow:hidden;margin:0;list-style:none;}
	ul.friendList .friendItem{margin:1px 0 -1px;padding:10px 50px 10px 68px;border-bottom:1px dotted #bdbdbd;}
		ul.friendList .friendAvatar{width:52px;margin:0 0 0 -62px;}
		ul.friendList .firendOption{width:40px;margin:0 -50px 0 0;text-align:right;}
		ul.friendList .friendInfo{width:100%;}

ul.friendList-full{overflow:hidden;margin:0;list-style:none;}
	ul.friendList-full .friendItem{margin:1px 0 -1px;padding:10px 130px;border-bottom:1px dotted #bdbdbd;}
		ul.friendList-full .friendAvatar{width:110px;margin:0 0 0 -120px;}
		ul.friendList-full .firendOption{width:80px;margin:0 -120px 0 0;padding:0 0 0 20px;}
		ul.friendList-full .friendInfo{width:100%;}

ul.friendList-simple{overflow:hidden;margin:0;list-style:none;}
	ul.friendList-simple .friendItem{display:inline;float:left;width:160px;height:50px;padding:8px 5px 8px 68px;}
		ul.friendList-simple .friendAvatar{width:52px;margin:0 0 0 -62px;}
		ul.friendList-simple .friendInfo{width:100%;}

ul.friendList-mini{overflow:hidden;margin:0;list-style:none;}
	ul.friendList-mini .friendItem{padding:5px 5px 5px 28px;}
		ul.friendList-mini .friendAvatar{width:20px;margin:2px 0 0 -28px;}
		ul.friendList-mini .friendInfo{width:100%;}
			ul.friendList-mini .friendInfo *{display:inline;}
			ul.friendList-mini .friendInfo .meta{padding:0 0 0 5px;}

/* share */



/*** Patch ***/


/*** Compatible with Old Version ***/
