* {
    margin: 0;
    padding: 0;
}

.outer {
    padding: 10px;
    height: auto;
    background: #C0C0C0;
    float: left;
    margin: 2em;
    position: absolute;
    left:20%;

}

#container{
   left:2%;
   width: 80%;
}

footer{
    width:100%;
}

section {
    width: 300px;
    height: 95%;
    float: right;
    margin-bottom: 20px;
}


section article {
    height: 50%;
    overflow: auto;
    padding: 10px 0 0 0;
    float: left;

}

.line {
    height: 0;
    margin: 10px 0;
    border-bottom: 1px solid #FD8203;
}


