@charset "utf-8";
/* Sohu SNS Index Style
 * Created: 2009-01-16
 * Author: Matt Wang (www.uiland.com)
 * Copyright: Sohu.com (www.sohu.com)
 */


/* canvas */
body{background:url(i/page-xy.jpg) repeat fixed;}

#navbar{background:url(i/navbar-x.png) repeat-x;_background-image:url(i/navbar-x.gif);}
	#navbarMid{background:none;}

#page{}
	#pageMid{}
		#pageInt{}
		
			#pageBd{}
				#pageBdInt{}
					#canvas-blank{min-height:540px;_height:540px;padding:64px 0 20px 72px;background:url(i/page.jpg) 20px 50px no-repeat;color:#EEBB9D;}

/* layout */
#page-index{position:relative;}
#indexLogin{float:left;width:250px;padding:300px 15px 0;}
	.passportc .pptitle2{margin:0;height:30px;color:#EBB38F;font:bold 12px/24px Verdana,Geneva,sans-serif;text-align:right;zoom:1;}
	.passportc .pptitle2:after{content:"\0020";display:block;visibility:hidden;clear:both;height:0;}
		.passportc span{float:left;}
		.passportc .ppthree{display:none;}
	/* 登录前 */
	.passportc .ppcontent{color:#BC8564;}
		.passportc .error{height:18px;color:#f30;line-height:18px;text-align:center;}
		.passportc ul.card{margin:0;padding:0 15px;list-style:none;}
			.passportc ul.card li{margin:5px 0 10px;}
				.passportc input.ppinput{width:160px;height:16px;margin:0 0 0 5px;padding:3px;border:1px solid #A66455;background:#3C0B0A;color:#EEBB9D;font:12px/16px Verdana,Arial,Helvetica,sans-serif;}
			.passportc dt{margin:10px 8px 0 45px;text-align:right;}
				.passportc dt span{float:left;}
					.passportc dt span input{margin:0 3px 0 0;}
				.passportc input.sign{width:54px;height:24px;margin:0 5px;border:0;background:url(i/button.gif) no-repeat;color:#fff;vertical-align:middle;}
			.passportc dd{margin:0;*margin-left:-40px;padding:5px 0 0 45px;text-indent:0;}
				.passportc dd a{margin:2px;color:#c63;}
	/* 下拉提示 */
	.ppselecter{overflow:hidden;width:166px;margin-left:1px;border:1px solid #c3b2a5;background:#f6f7ea;color:#a54f3f;}
		.ppselecter .ppseltit{padding:3px;background:#eceeda;}
		.ppselecter td{border:0;padding:0;}
		.ppselecter td td{padding:3px;}
		.ppselecter .active{background:#900222;color:#fff;}
	/* 登录中 */
	.ppWaitMsg{overflow:hidden;min-height:100px;_height:100px;background:url("http://sns.sohu.com/r/i/progress.gif") no-repeat center;text-indent:-9999px;}
	/* 登录后 */
	.passportc .listContA{}
		.passportc .listContA ul{margin:none;list-style:none;}
	.passportc .middle,
	.passportc .bottom,
	.passportc .candle{display:none;}

#indexCover{position:absolute;top:0;left:0;}
	#indexCover img{width:278px;height:288px;}
#indexInfo{float:left;width:300px;padding:215px 40px 0 40px;}
	#indexIntro{float:right;width:310px;padding:50px 0 0;}	
		#indexIntro p{margin:0 0 15px;}