<!DOCTYPE html>
<html>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body ng-app="qm">




<div id="controller" ng-controller="test_Ctrl">
    <input type="button" value="测试" id="btn"> <br/>
    <input type="button" value="清除" id="btn2"> <br/>
  <!--  <input type="text" id="text_txt" value="{{value}}"/>-->


    <p>{{echo}}</p>

    <p>{{value}}</p>
    <p>all:{{level}}</p>
    <p>key:{{level.key}}</p>

    <p>value:{{level.value}}</p>

   <!-- echo: <p ng-bind="echo"></p>

    value :<p ng-bind="value"></p>-->

    <!--<input type="text" id="text_txt2" ng-model="xxx" placeholder="Enter a name here">

    <h1>Hello {{xxx}}!</h1>-->


</div>


<script type="text/javascript">
function musicPaused() {
var music = document.getElementById("clickSound");
music.pause();
}
</script>
<audio id="clickSound" autoplay="autoplay">
<source src="/r/music/christmas.mp3">
</audio>
<input id="music" type="button" onclick="musicPaused()" value="停止" />
<!--
<h1>Hello {{xxx}}!</h1>

<div ng-app="xx" ng-controller="test_Ctrl2" id="controller2">
    <input type="button" value="测试" id="btn2"> <br/>
    <input type="text" id="text_txt3" value="{{value}}" echo="{{echo}}"/>

    <p>{{echo}}</p>

    <p>{{value}}</p>
    <input type="text" id="text_txt4" ng-model="xxx" placeholder="Enter a name here">

    <h1>Hello {{xxx}}!</h1>
</div>
-->


</body>
</html>

<script type="text/javascript" src="../../j-src/framework/angular/angular.min.js"></script>
<script type="text/javascript" src="../../j-src/framework/jquery/jquery-1.9.1.min.js"></script>


<script type="text/javascript">
    var app = angular.module("qm", []);

    test_Ctrl = function ($scope) {
        $scope.value = "没变没变";
        $scope.echo = "Echo没变没变";
        $scope.level={
                       key:"key",
                       value:"value"
              }
    };



    $("#btn").on("click", function () {

        //获取到文本框对象
        /*      var input = angular.element($("body"));

         //获取文本框的scope
         var scope = input.scope();
         //  //修改value值
         scope.value = "哈哈";
         scope.echo = "xd";
         scope.xxx = "yyyyy";
         //   //方法一:  调用$apply()方法，angular推荐使用
         scope.$apply();*/


        var model = {};
        model.value = "哈哈变了吧";
        angularUtil.updateModels("controller", model);
        /*
         var model2 = {};
         model.value="哈哈111";
         model.echo="xd1111";
         model.xxx="1111";
         angularUtil.updateModels("controller",model);*/

    })
    var angularUtil = {
        updateModels:function (id, models) {
            var s = angular.element($("#" + id)).scope();
            $.each(models, function (key, value) {
                console.log(key, value);
                s[key] = value;
            });
            s.$apply();
        },
        clearModels:function (id, key) {
            console.log(id + "===" + key + "=======");
            var s = angular.element($("#" + id)).scope();
            var as = key.split(".");
            console.log(key + " get key split array length " + as.length)
            var m = null;
            for (var i = as.length ; i > 0; i--) {
                var temp = {};
                temp[as[i]] = m;
                m = temp;
            }
            console.log(JSON.stringify(s[as[0]]) + " will replace " + JSON.stringify(m));
            var des=as[0];
            $.extend(s, m);

            $.extend(true,s,{value:null});
            //$.extend(s,{value:null});
            //s[des]=m;
            s.$apply();
        }
    }

    $("#btn2").on("click", function () {



        angularUtil.clearModels("controller","level.value");
        angularUtil.clearModels("controller","value");

        //   //方法二:  调用$digest()方法，不推荐    //scope.$digest();
    })


</script>