.fixTop {
    position: fixed;
    right: 2em;
    top: 20em;
    z-index: 151;

}
@-webkit-viewport {
            width: device-width;
        }

        @-moz-viewport {
            width: device-width;
        }

        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }

        .main_area {

            overflow: auto;
        }

        ul.toolbar {
            display: block;
            margin: 0;
            padding: 0;
        }

        ul.toolbar:after {
            clear: both;
            display: table;
            content: "";
        }

        ul.toolbar > li {
            float: left;
            display: list-item;
            list-style: none;
            margin: 0 10px 10px 0;
        }

        ul.toolbar > li.pull-right {
            float: right;

        }

        ul > li a.color-font {
            padding-left: 70px;
        }

        li label.checkbox, li .help-inline {
            padding-top: 3px;
        }

        .dropdown-menu {
            max-height: 300px;
            overflow-y: auto;
        }

        .dropdown-menu .select {

        }

        .color-block {
            display: block;
            width: 50px;
            height: 20px;
            margin-top: 2px;
            margin-left: 5px;
            position: absolute;
            pointer-events: none;
        }

        .color-block[data-theme="black"] {
            background: #000;
        }

        .color-block[data-theme="red"] {
            background: #f00;
        }


