body {
    background: #f9f9f9;
    color: #333;
}
/*head*/
.navbar {
    margin-bottom: 0;
}
.navbar-inner {
    min-width: 600px;
}
/*left*/
.sidebar-nav {
    position: absolute;
    width: 200px;
    float: left;
    margin: 0;
    padding-top: 20px;
    max-height: 478px;
    min-height: 278px;
    overflow-y: auto;
}
.sidebar-nav .nav-list {
    padding: 0;
}
.sidebar-nav li a {
    color: #585868;
    text-shadow: 1px 1px 0 #fff;
    padding: .1em 1.5em;
    border: 0;
    margin: 0 1px;
    background: none;
}
/*right*/
.content {
    min-width: 400px;
    position: relative;
    background: #fff;
    margin-left: 200px;
    border-left: 1px solid #cfcfd6;
}
.content .tab-pane {
    max-height: 442px;
    min-height: 242px;
    overflow-y: auto;
    word-break:break-all;
}
/*foot*/
.foot {
    background: #f9f9f9;
    border-top: 1px solid #cfcfd6;
    min-width: 600px;
}
.inner-space {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}
.inner-space:after {
    clear: both;
    display: table;
    content: "";
}
.form-horizontal .control-label {
    padding-top: 4px;
    text-align: left;
}
.btn.medium {
    font-size: 12px;
    font-weight: bold;
}
ul.toolbar {
    display: block;
    margin: 0;
    padding: 0;
}
ul.toolbar:after {
    clear: both;
    display: table;
    content: "";
}
ul.toolbar > li {
    float: left;
    display: list-item;
    list-style: none;
    margin: 0 10px 10px 0;
}
ul > li a.color-font {
    padding-left: 70px;
}
li label.checkbox, li .help-inline {
    padding-top: 3px;
}
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
.dropdown-menu .select {

}
.color-block {
    display: block;
    width: 50px;
    height: 20px;
    margin-top: 2px;
    margin-left: 5px;
    position: absolute;
    pointer-events: none;
}
.color-block[data-theme="black"] {
    background: #000;
}
.color-block[data-theme="red"] {
    background: #f00;
}
/*icon*/
.icon-blue {
    background-image: url("../../img/glyphicons-halflings-blue.png");
}
.icon-red {
    background-image: url("../../img/glyphicons-halflings-red.png");
}
.icon-male {
    background-position: 0 -167px;
 }
.icon-female {
    background-position: -24px -167px;
}
.icon-dead {
    background-position: -48px -167px;
}
.icon-kill {
    background-position: -72px -167px;
}