@charset "utf-8";/* Sohu SNS invite
 * Version: 1.0
 * Author: QianCheng
 * Copyright: Sohu.com (www.sohu.com)
 */

/* privacy */
.i-privacy{background-position:-38px -200px;}
.privacyList{list-style-position:outside;list-style-type:none;}
.privacyList li{display:block;float:left;clear:both;list-style-type:none;list-style-position:outside;padding:10px;}
.privacyList li img{float:left;}
.privacyList li h4{margin-left:60px;margin:0 0 0 60px;padding:0;line-height:180%;}
.privacyList li p{margin-left:60px;}
.priBox,.priCheck{position:relative;}
.priBox select{width:260px;}
.priBox dl.fieldset dd{background:url(i/lock.gif) 5px 5px no-repeat;padding-left:20px;width:95%;}
h4.priTit{margin:20px 0 10px 20px;}
.priBox dl.priBtn,.priCheck dl.priBtn{margin-top:20px;}
.priBox dl.priBtn dd{background:none;padding:0 0 10px;width:100%;}
.priBox dl.fieldset dd.noImg{background:none;}

.priBox .popLayer,.priCheck .popLayer{ display:none;}

/* blackList */
.bListBox{ width:50%;background:#fefef4; border:1px solid #e9e5d9; padding:10px 20px; margin:30px 40px;}
.bListBox .addBlist{ margin:10px 0 5px 0;}
.bListBox .myBlist{}

/* setDialog */
.privacyDialog{}
.privacyDialog h5{ margin-bottom:5px;}
.privacyIcon{background:url(i/lock.gif) 6px 6px no-repeat;padding-left:25px;}
.privacyIcon select{ width:95%;	}
.wList,.bList,.hList{ margin:5px 10px 0 27px; padding-bottom:5px;border-bottom:1px dotted #e9e5d9;_border-bottom:none;_background:url(i/dotted.gif) repeat-x bottom;}
.wList .paddingLeft,.bList .paddingLeft{ margin-left:37px}
.wList .listBox,.bList .listBox{ padding-left:70px;}
.wList .listTit,.bList .listTit{ margin-left:-70px; width:65px; float:left; display:inline; text-align:right}
.wList .listContent,.bList .listContent{ width:100%; float:left;}
.wList a,.bList a{ margin-right:8px;}
.option{}
.foot a{ margin-left:15px}

/* setting */

.dialog .setting{ padding:0 0 60px 0;}
.setting h5{ margin:10px 10px 5px 10px;}
.setting .row{ border:1px solid #fff; margin:0 20px; padding:2px 5px;}
.setting .rowOver{ background:#fefef4; border:1px solid #e9e5d9; margin:0 20px; padding:2px 5px;}
.setting .listList{ padding:5px 10px 10px 20px;}
.setting .listList p{ margin:5px 0;}
.setting .listList div label{ margin-right:10px;}
.setting .bListTit{ padding-left:45px; height:25px; line-height:25px; background:url(i/bList.gif) no-repeat 22px 5px; background-color:#f5e7e7; color:#993300; margin-top:10px;}
.setting .bListTitGroup{ padding-left:45px; height:20px; line-height:20px;margin-top:5px;}
.setting .bListRow{margin:5px 40px 0 40px; padding:5px;}
.setting .bListRow label{ margin-right:10px;}
.dialog .foot {_clear:both;_position:relative;_margin-top:-50px;}

/* privacySet */
.privacySet{ width:275px; margin:10px;}
.privacySet .option{ text-align:right}

/* pSetPage */
.pSetPage{ width:275px; margin:0;}
.pSetPage .option{ text-align:right}
.pSetPage .privacyIcon{ background:none;padding-left:0;}
.pSetPage .wList,.pSetPage .bList,.pSetPage .hList{ margin:5px 10px 0 0;}

/* photoPriDiv */
.photoPriDiv .wList,.photoPriDiv .bList,.photoPriDiv .hList{ margin-left:0; margin-right:20px;}
