/*=== Sohu Blog StyleSheet File ===========================
Style Name: editor
Version: 1.0
Author: Leeking001 (www.leeking001.com)
Copyright: Sohu.com (www.sohu.com)
==============================================================*/
body{margin:0;}
.editor{background:#FFF;border-color:#999;border-style:solid;border-width:0 1px;}
.editor iframe{width:100%;border:0;margin:0;padding:0;}
* html .editor iframe{height:100%;}
*+html .editor iframe{height:0;}
.editor_coder{border-color:#898989;border-style:solid;border-width:0 1px;font-size:1px;height:1%;}
.editor_coder textarea{width:100%;border:0;font-size:12px;margin:0;padding:0;}
.editor_cache{height:1px;width:1px;overflow:hidden;}
.editor_footer{padding:0;border:1px solid #999;color:#333;height:24px; background:#FDFDF3;}
.menu_container {height:25px;padding:1px 1px 0 1px;background:url(i/editor/toolBg.png) repeat-x;border-width:1px 1px 0 1px;border-color:#999;border-style:solid;overflow:visible;}
.editor_container {overflow:visible;}
.all_container{width:100%;margin:0 auto;background:#fff;}
.tool_row{}
.tool_part{float:left;}
.tool_tool{float:left; margin:1px; display:inline;}
.tool_over{float:left; margin:1px; display:inline;background:url(i/editor/iconOver.gif) no-repeat;}
.tool_down{float:left; margin:1px; display:inline;background:url(i/editor/iconOver.gif) no-repeat;}
.tool_disable{float:left;FILTER: alpha(opacity=30);-moz-opacity: 0.3; margin:1px; display:inline;}
.popLayer{position:absolute;border:none;padding:0px;background:#FFF;margin-top:-1px}
.listerItem{border:1px solid #FFFFFF;float:left;cursor:pointer;margin:1px;color:#000000;line-height:normal;}
.listerItem_over{border:1px solid #fbfbdf;background-color:#fbfbdf;float:left;cursor:pointer;margin:1px;color:#333;line-height:normal;}
.popLayer .content{ background:#fff; border:1px solid #ccc;zoom:1;}
.popLayer .content #emotBox .content{ background:#fff; border:none;}
.popLayer .content:after{content:'\0020';display:block;clear:both;height:0;}


.colorItem{overflow:hidden;float:left;margin-left:1px;cursor:pointer;}
.colorItem_over{overflow:hidden;float:left;margin-left:1px;background-color:#fbfbdf;cursor:pointer;}
.newLine{clear:both;}
.fontSizee1{font-size:10px;}
.fontSizee2{font-size:13px;}
.fontSizee3{font-size:16px;}
.fontSizee4{font-size:18px;}
.fontSizee5{font-size:24px;}
.fontSizee6{font-size:32px;}
.fontSizee7{font-size:48px;}
.fontname{width:109px;height:22px;overflow:hidden;background-image:url(i/editor/fontname.gif);cursor:pointer;}
.fontsize{width:53px;height:22px;overflow:hidden;background-image:url(i/editor/fontsize.gif);cursor:pointer;}
.fontnameSelect{width:93px;height:20px;font-size:12px;border:0;margin-left:2px;color:#000000;cursor:pointer;}
.fontsizeSelect{width:36px;font-size:12px;border:0;margin-left:2px;color:#000000;cursor:pointer;}

.wLine{width:20px;height:2px;overflow:hidden;position:absolute;top:-1px;left:0;background:#fff;}
.resize{ width:24px; height:24px; background:url(i/editor/resize.gif) no-repeat right bottom; cursor:n-resize;}

.editor_footer .msg{ width:150px; height:24px; line-height:24px; color:#B35F00; border:none; background:url(i/editor/editorFootBg.jpg) repeat-y; padding:0 0 0 15px; float:left; margin:0;}

.editor_cache{display:none;}

#lister_fontName{*width:135px;}
#lister_fontSize{*width:115px;}
#lister_color{*width:235px;}
#lister_simg{*width:495px;}

#lister_svideo{*width:370px;}
#lister_url{*width:370px;}
#lister_emot{*width:230px;}