@charset "utf-8";/* Sohu SNS peopleSearch.css
 * Version: 1.0
 * Author: QianCheng
 * Copyright: Sohu.com (www.sohu.com)
 */

.mod .mCt{background:none;}
.appActions{ text-align:left}
.appFoot{ display:none}
/* index */

.app-peopleSearch{}
.app-peopleSearch .appActions{ padding:10px 15px;}
.app-peopleSearch .appActions .text{ width:180px; padding-left:20px; background-image:url(i/searchImg.gif); background-position:2px center; background-repeat:no-repeat;}
.app-peopleSearch .appContent{ padding:0 10px;}
.app-peopleSearch .appContent h3{line-height:25px; border-bottom:1px solid #999; padding:0 5px}
ul.friendList{ padding-bottom:5px;}
ul.friendList .friendItem{ width:72px; float:left;_border-bottom:none;_background:url(i/pSearchList.gif) repeat-x bottom}
ul.friendList .firendOption {margin:0 -30px 0 0;text-align:right;width:30px;}
.friendInfo .action a{ padding-left:18px; background:url(i/add.gif) no-repeat; cursor:pointer}

.viewMore{ font-weight:700; padding-left:20px; background:url(i/more.gif) no-repeat center left; margin:5px;}
.moreFind{ padding:0 10px;}
.moreFind p{ display:block; float:left; width:60%; line-height:25px; color:#999}
.moreFind p a{ margin-right:5px}
.moreFind p.short{ width:26%;}

/* result */
.friendTabs{ padding:10px 5px; margin:0 15px; border-top:1px solid #999; border-bottom:1px dotted #ccc; _border-bottom:0;_background:url(i/pSearchList.gif) bottom repeat-x;}
.friendTabs a{margin:0 5px;}
.friendTabs .on,
.friendTabs .on:hover{display:-moz-inline-stack;display:inline-block;_display:inline;padding:0 5px 0 0;background:url(i/filter.gif) 100% 0 no-repeat;color:#fff;text-decoration:none;zoom:1;}
.friendTabs .on span{display:block;_display:inline;height:20px;padding:0 0 0 5px;background:url(i/filter.gif) no-repeat;line-height:20px;zoom:1;}

.searchResult{ padding:10px; height:20px;}
.searchResult span{ display:block; float:left; width:50%;}
.searchResult strong{ margin:0 5px;}
.searchResult div{ float:right; color:#999; width:45%; text-align:right;}

ul.findFriendList{ padding:0; margin:0; clear:both;}
ul.findFriendList .friendItem{ border-top:1px dotted #999;_border-top:none;_background:url(i/pSearchList.gif) repeat-x top; list-style-type:none; margin:0; padding:10px;}
ul.findFriendList .friendAvatar{ margin-right:10px;}
ul.findFriendList .friendInfo{ float:left;}
ul.findFriendList .firendTool{ float:right;}
ul.findFriendList .firendTool a{ display:block; width:80px; float:right; clear:both;}

.some{ background:url(i/toolImg.gif) no-repeat 0 0; padding:4px 10px 5px 5px;}
.i-addF{background:url(i/toolImg.gif) no-repeat 0 -25px; padding-left:15px;}
.i-sendM{background:url(i/toolImg.gif) no-repeat 0 -55px; padding-left:15px;}
.i-viewF{background:url(i/toolImg.gif) no-repeat 0 -85px; padding-left:15px;}

.app-peopleSearch .appActions .t_c .text{ background:#fff; padding-left:3px;}
.app-peopleSearch .appActions .t_c dl{ padding-left:50px;}
.app-peopleSearch .appActions .t_c dt{ margin-left:-50px; width:50px; text-align:center}

.resultPager{ margin:10px 0; border-top:1px dotted #999;_border-top:none;_background:url(i/pSearchList.gif) repeat-x top;padding:5px;}


