@charset "utf-8";/* Sohu SNS reg
 * Version: 1.0
 * Author: QianCheng
 * Copyright: Sohu.com (www.sohu.com)
 */

/* index */
#pageBd {/*padding:0!important;*/}

#regWrap{}
#regWrapInt{}
#regWrap .colMain{background:url(i/canvas-xy.jpg) repeat;}
#regWrap .colMain .colInt{background:url(i/canvas-x.jpg) repeat-x;}
.lay .colInt{margin:0;}

#regIndexLay{margin:0;}
#regIndexLay .layInt{padding:0 0 0 200px;}
#regIndexLay .colMain{position:relative;float:right;width:100%;}
#regIndexLay .colSub{float:left;width:180px;margin:0 0 0 -195px;}

#regBar{padding:20px 0 100px 0;height:300px;}
#regBar{border:none}
#regBar .mHd {border:none;padding:10px 10px 5px 10px;_padding:10px 10px 5px 0;}

#regBar .mCt{border-top:1px dashed #936F64;}
#regBar .mCt{background:url(i/home-mod-x.jpg) repeat-x;}

#regBar input{clear:both;display:block;margin-bottom:10px;}
#regBar .button{margin-top:8px;}
#regBar input,#regBar label,#regBar h3,#regBar .button{margin-left:10px;}

.regBox{padding:10px 0 10px 140px;margin:40px 0 20px 0;border:1px dashed #C2C5BA;background:url(i/regBoxBg.png) repeat-x bottom #fff;}
.regBox .status{display:block;width:80px;height:80px;float:left;background:url(i/statusBg.jpg) no-repeat;margin:10px 0 0 -120px;padding:13px 17px 22px 13px;display:inline;}
.regBox .regBoxC{float:right;width:95%;padding:0;margin:10px 10px 10px 0;display:inline; font-size:14px;}
.regBox .regBoxC p{line-height:200%;text-indent:2em;}
.regBox .regBoxC hr{margin:30px 0 0;}
.regBox .regBoxC .button{margin:20px 0 10px 20px;}
.regBox .regBoxC .button button{ font-weight:bold;}
.meta{font-size:12px;}

#regExt{width:100%;padding-right:190px;}
#regT1{float:left;padding-right:190px;border:none;background:none;margin:0 20px;display:inline;}
#regFriend{border:none;background:none;width:170px;float:right;margin:40px 15px 0 -200px ;float:right;display:inline;}
#regFriend .mCt{background:none;}
#regFriend .mHd{border-bottom-style:solid;}

#regT2{border:none;background:none;margin-top:20px;padding:10px;}
#regT2 .mCt{background:none;}
#regT2 .mHd{border-bottom-style:solid;}
#regT2 .mBd ul{margin:0;padding:10px;}
#regT2 .mBd li{list-style-type:none;list-style-position:outside;display:block;float:left;margin:0 30px 0 0;}
#regT3{border:none;background:none;margin-top:10px;padding:10px;}
#regT3 .mCt{background:none;}
#regT3 .mHd{border-bottom-style:solid;}
ul.regFeed{padding-left:0;margin-left:0;!important;line-height:180%;}
.regFeed h4{color:#501310;}
.regFeed div{color:#40403E;}
.regFeed div span{color:#7C7A7B;margin-left:10px;}
.regFeed li{list-style-type:none;list-style-position:outside;}
.regFeed p{color:#7C7A7B;}

/* regPage */

#regPageLay{margin:0;}
#regPageLay .layInt{padding:0;}
#regPageLay .colMain{position:relative;float:left;width:100%;}
#regPageLay .colInt{padding:50px 0 0;}

#regBoxs,#regBoxs .mCt,#regBoxs .mBd,#regBoxs .mHd{border:0;background:#FFFEFA;}
#regBoxs{width:548px;margin:70px 0 20px 40px;border:1px dashed #C4C6B9;float:left;display:inline;}
#regBoxs .mHd{background:#F7F5E8;padding:10px 20px;}
#regBoxs .mHd h3{font-size:14px;line-height:30px;}
#regBoxs .mHd p{clear:both;display:block;}

#regBoxs{border:1px dashed #C4C6B9;background:url(i/mod-xy.gif) repeat;}
#regBoxs .mCt{background:url(i/mod-x.gif) repeat-x;}
#regBoxs .mHd{border-bottom:1px dashed #C4C6B9; background:none;}
#regBoxs .mBd{ background:none;}

.regImg{width:350px;height:240px;float:left;display:block;clear:both;margin:10px 0 0 580px;display:inline}
.regImg img{width:80px;height:80px;margin:66px 0 0 243px;}
.regImg p{display:block;width:80px;text-align:center;margin:0 0 0 244px;}

#Img01{background:url(i/regImg01.jpg) no-repeat;}
#Img02{background:url(i/regImg02.jpg) no-repeat;}
#Img03{background:url(i/regImg03.jpg) no-repeat;width:380px;padding-left:14px;margin-left:570px;}

#regBoxs .mHd .option{margin-top:5px;}
#regBoxs .friends li{margin-right:10px;} 
#regBoxs .addFriendBottom{padding:0 10px;}
#regBoxs .button{margin:10px 0;}
#regBoxs .addFriendBottom .button{margin:10px;}

.selectAll{ padding:5px 12px;}

/* 账户设置 */
.i-account{ background-position:0 -259px;}
#canvas-app{background:url(i/canvas-xy.jpg) repeat scroll 0 0;margin:0 0 0 142px;}
.accBox{ padding:20px 30px;}
.accBox .section{ margin-bottom:30px;}
.accBox .sectionHead{border-bottom:1px solid #baaa9a;padding:3px 7px;}
.accBox .sectionHead h3{ float:left; color:#300; margin:0}
.accBox .sectionHead .option{ float:right; color:#300;}

.accBox .sectionBody{ color:#666; padding:3px 7px;}
.accBox .sectionBody .accInfo{ float:left}
.accBox .sectionBody .accContent{ float:right}
.accBox .sectionBody h4{ margin-bottom:10px;}

/* 修改头像 */
.eidtPhoto{ padding:10px 10px 10px 230px;}
.eidtPhoto h3{ border-bottom:1px solid #C9B9B9; text-align:left; color:#300;}
.oldPhoto{ width:190px; margin-left:-220px;float:left;text-align:center; display:inline;}
.updatePhoto{ float:left; width:100%;}
.updatePhotoInt{ padding:10px;}

/* 头像flash box */

#iconEditor .flashBorder{height:430px; width:395px; border:1px solid #cfccbb; margin:10px 0;}

/* step */

.regStep{ position:absolute; top:65px; left:55px; background:url(i/step.png) no-repeat; width:508px; height:43px;}
.step1 div{ position:absolute;bottom:0; left:5px; background:url(i/stepLine.png) no-repeat; width:100px; height:8px;}
.step2 div{ position:absolute;bottom:0; left:170px; background:url(i/stepLine.png) no-repeat; width:100px; height:8px;}
.step3 div{ position:absolute;bottom:0; left:320px; background:url(i/stepLine.png) no-repeat; width:100px; height:8px;}
