.foot_nav {

     box-shadow: 4px 0 10px #ccc, -4px 0 10px #ccc, 0 38px 36px -24px #aaa;
    width: 100%;
    margin: 0px;
    margin-top: 2em;
    background-color: #000000;;
    padding: 2em;
    position:fixed;bottom:0;right:10px;

}

.foot_nav  a {
    color: white;
    text-align: center;

}

.foot_nav  ul {
    list-style: none;
    margin-left: 20%;
    width: 100%;

}

.foot_nav  ul  li {
    display: inline;
    margin: 2%;
}

.stastic{
   position:fixed;bottom:12%;left:2em;
    box-shadow: 4px 0 10px #ccc, -4px 0 10px #ccc, 0 38px 36px -24px #aaa;
    padding: 0.5em;

    background-color: white;
}



.stastic  a {
    color: #006699;
    text-align: center;

}
.test{
    color:  #E065BB;
}
