


.navbar {
    margin-bottom: 0;
    border: none;
}
.navbar-fixed-top {
    position: static;
}
.navbar-inner {
    padding: 15px 0 12px;
}
.navbar .brand {
    position: relative;
    display: block;
    top: 0;
    width: 180px;
    height: 70px;
    padding: 0 0 0 70px;
    margin: 2px 0 0 10px;
    overflow: hidden;
    line-height: 70px;
    color: #fff;
    background: url(/r/img/logo1.jpg) no-repeat 0 0;
    font: 38px/70px "微软雅黑";
    text-shadow: none;
}
.navbar .nav {
    margin-top: 20px;
}
.navbar .nav > li > a {
    font-size: 14px;
    font-weight: 600;
}
.banner {
    height: auto;
    border: none;
    overflow: hidden;
}
.footer {
    padding: 2em 0 1em 0;
}
.follow{
    float: left;
}
.about{
    float:left;

}
.stastic{
    padding: 0.5em;
    text-align: center;

}

.inmiddle{
    text-align : center
}





/**
 **
 **/

.login-box {
    float: left;
    padding: 0;
}
.login-box label {
    display: none;
}

.login-box .email-input {
    background: url("/r/img/user.png") no-repeat;
}
.login-box .password-input {
    background: url("/r/img/password.png") no-repeat;
}
.hint{
    color:red;
    float: left;
}
.login-box .login {
    font-size: 13px;
    color: #8e8d8d;
    padding: 11px 15px 10px 50px;
    width: 80%;
    display: block;
    box-shadow: inset 2px 2px 4px #f1f1f1;
}
.login-action {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
}
span.login-checkbox {
    float: left;
    margin-top: 15px;
}
span.login-checkbox > input[type="checkbox"] {
    opacity: 0;
    float: left;
    width: 15px;
}
span.login-checkbox > input[type="checkbox"] + label {
    clear: none;
    height: 15px;
    display: block;
    padding: 0 0 0 22px;
    margin: 0;
    font-size: 12px;
    line-height: 1.5em;
    background: url("/r/img/check.png") no-repeat 0 0;
    cursor: pointer;
}
.login-social {
    float: left;
    width: 100%;
    padding: 10px 0 15px;
    border: 1px dotted #ccc;
    border-left: none;
    border-right: none;
}

.banner {
    margin: 30px 0;
}
.banner-screen {
    padding: 10px 0 0 0;
}

.chapter {
    overflow: hidden;
    zoom: 1;
}
.chapter .pull-left {
    margin-right: 10px;
}
.chapter .chapter-body {
    overflow: hidden;
    zoom: 1;
    height: 220px;
}
.chapter-body h4 {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 10px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ranking td {
    padding: 18px 0;
    border: none;
    border-bottom: 1px dotted #ccc;
}
.ranking .score {
    font-size: 21px;
    font-weight: 600;
}
.ranking .name {
    font-size: 13px;
    color: #666;
}

/**
 **
 **/
.signin {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 380px;
    margin: 85px auto;
    padding: 15px;
    background: #fff;
    border: 1px solid #d5d5d5;
}
.signin h1 {
    font-size: 28px;
}
.signin .signin-social {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 15px 0;
    margin-bottom: 10px;
}
.signin-action label {
    display: none;
}
.signin-action .sign {
    width: 350px;
    padding-left: 6px;
    font-size: 13px;
    color: #8e8d8d;
    padding: 11px 15px 10px 10px;
    background: #fdfdfd;
    box-shadow: inset 2px 2px 4px #f1f1f1;
}
.friendLink{
    border-top: 2px solid #e9eefa;
}


