@charset "utf-8";
/* Sohu SNS Home CSS
 * Version: 1.0
 * Created: 2008-11-20
 * Author: Matt Wang (www.uiland.com)
 * Copyright: Sohu.com (www.sohu.com)
 */


/*** Canvas Layout ***/
/*#imbar{width:74px;}*/

#homeLay{margin:0;padding-right:220px;}
	#homeLay .colMain{float:left;width:100%;background:#f7f5e6 url(i/colMain-xy.jpg) repeat;}
		#homeLay .colMain .colInt{min-height:500px;_height:500px;margin:0;padding:35px 20px 10px;background:url(i/colMain-x.jpg) repeat-x;}
	#homeLay .colSub{_position:relative;float:right;width:210px;margin:0 -220px 0 10px;background:#f7f5e6 url(i/colSub-xy.jpg) repeat;}
		#homeLay .colSub .colInt{min-height:500px;_height:500px;margin:0;padding:30px 0 10px;background:url(i/colSub-x.jpg) repeat-x;}

#canvas-home .mod{border:0;border-top:1px dashed #936F64;}
	#canvas-home .mod .mCt{background:url(i/mod-x.jpg) repeat-x;}
		#canvas-home .mod .mHd{padding:7px 10px;border:0;}
		#canvas-home .mod .mBd{padding:0 10px;}
		#canvas-home .mod .mFt{padding:0 15px;}
#homeFriendReco .mCt{background:none !important;}


/*** mainCol ***/
#homeStatus{/*padding:0 130px 20px 110px;*/padding:0 0 20px 110px;}
	.statusAvatar{_display:inline;float:left;width:82px;height:82px;margin:0 0 0 -110px;padding:8px 13px 20px 5px;background:url(i/statusAvatar.gif) no-repeat;text-align:center;}
		.statusAvatar img{width:80px;height:80px;border:1px solid #ccc;}
	.statusPanel{float:left;width:100%;}
		.statusHead{zoom:1;}
		.statusHead:after{content:'\0020';display:block;clear:both;height:0;}
			.statusPanel .myName{float:left;color:#333;font:bold 18px/24px Tahoma,Verdana,Arial,Helvetica,sans-serif;}
			.statusPanel .setImStatus{float:left;margin:3px 0 0 5px;}
		.statusBody{padding:5px 0;color:#666;}
			.statusPanel .content{}
			.statusPanel .time{padding:0 5px;color:#999;}
			.statusPanel .del{margin:0 0 0 3px;color:#b26909;}
			.statusPanel .more{}
		.statusComposer{}
			.statusComposer input.text{/*width:180px;*/width:280px;}
		.statusFoot{padding:5px 0;color:#666;}
			.statusFoot ul{margin:0;}
				.statusFoot li{display:-moz-inline-stack;*display:inline;padding:0 7px 0 20px;background:url(i/statusFoot.gif) no-repeat;zoom:1;}
				.statusFoot li.sm-money{background-position:0 0;}
				.statusFoot li.sm-position{background-position:0 -20px;}
	.quickLinks{_display:inline;display:none;float:right;width:120px;margin:0 -130px 0 0;*margin-left:10px;border-left:1px dashed #BDAF9E;}
		.quickLinks ul{margin:0;padding:10px 0 10px 10px;list-style:none;}
			.quickLinks li{height:20px;margin:5px 0;background:url(i/quickLinks.gif) no-repeat;text-indent:20px;}
			.quickLinks li.ql-wages{background-position:0 0;}
			.quickLinks li.ql-daily{background-position:0 -20px;}
			.quickLinks li.ql-tasks{background-position:0 -40px;}

#homeFeed{}
	.homeFeedTabs{margin:0 0 7px;padding:0 8px;}
	.homeFeedFilters{padding:0 12px;}
	.homeFeedWrap{margin:-7px 0 0;padding:0 12px;}

#homeFeedSetting{}
	#homeFeedSetting fieldset{margin:10px 0 20px;}
	#homeFeedSetting h4{margin:0 -5px 10px;padding:5px;border-bottom:1px solid #D3BFB4;font-weight:700;}
	#homeFeedSetting dl.fieldset{margin:10px 0 0;}
	#homeFeedSetting dl.fieldset dd{padding:0 0 8px;}
	#homeFeedSetting .radios li{width:62px;}


/*** subCol ***/
#homeCalendar{padding:0 10px 10px 90px;}
	#homeCalendar .date{_display:inline;float:left;width:72px;margin:0 0 0 -80px;color:#780000;font-weight:bold;text-align:center;}
		#homeCalendar .year{}
		#homeCalendar .month{}
		#homeCalendar .day{display:block;margin:-5px;color:#D43512;font:900 36px/1.2em Tahoma,Airal,Geneva,sans-serif;}
		#homeCalendar .week{}
	#homeCalendar .today{float:right;width:100%;padding:1.2em 0 0;}

#homeRequests{}
	#homeRequests ul{margin:0;/*padding:0 0 5px;*/list-style:none;}
		#homeRequests li{/*_display:inline;float:left;width:49%;*/line-height:24px;text-indent:12px;}
			#homeRequests li img{margin:0 5px 0 0;}

#homeFriendReco{}
	#homeFriendReco ul{padding:0 0 0 5px;}
	#homeFriendReco .friendAdd{background:url(i/add.gif) no-repeat;padding:0 0 0 18px;}

#homeBirthday{}
	#homeBirthday ul{}
		#homeBirthday li{padding:3px 10px;border-bottom:1px dotted #ddd;}


/*** Patch ***/
#homeStatus:after,
#homeCalendar:after,
#homeRequests ul:after{content:"\0020";display:block;visibility:hidden;clear:both;height:0;}
#homeStatus,
#homeCalendar,
#homeRequests ul{zoom:1;}
