@charset "utf-8";
/* Sohu SNS Error Page Style
 * Created: 2009-01-16
 * Author: Matt Wang (www.uiland.com)
 * Copyright: Sohu.com (www.sohu.com)
 */

body{background:url(i/page-xy.jpg) repeat fixed;}

#navbar{background:url(i/navbar-x.png) repeat-x;_background-image:url(i/navbar-x.gif);}
	#navbarMid{background:none;}
		#navbarInt{}
			#navbarLogo{}
			#navbarExtra{}
				#navbarExtra a,
				#navbarExtra a:hover{color:#DD9A63;}
				#navbarExtra li{background:url(i/navbar-pipe.gif) no-repeat 100% 50%;}



#page{background:url(i/page.png) 0 100px no-repeat;_background-image:url(i/page.gif);}
	#pageMid{}
		#pageInt{}
		
			#pageBd{background:none;}
				#pageBdInt{}
					#canvas-blank{min-height:300px;_height:300px;padding:200px 160px 0 160px;color:#FFCD8D;}
						#canvas-blank a{color:#f60;}
						#canvas-blank h2{margin:0;font:normal 25px/2em '黑体',Verdana,Geneva,sans-serif;}
						#canvas-blank p{margin:0 0 1em;}
						#canvas-blank p.actions{margin:40px 0 0;color:#f60;}

			#pageFt{display:none;}
